// top-slider 
.top-slider.owl-carousel
button.top-slider__btn-prev( type="button" )
	i.fa.fa-angle-left.top-slider__icon-prev
button.top-slider__btn-next( type="button" )
	i.fa.fa-angle-right.top-slider__icon-next