// rating 
ul.rating
	li.rating__item
		button.rating__star( type="button" )
	li.rating__item
		button.rating__star( type="button" )
	li.rating__item
		button.rating__star( type="button" )
	li.rating__item( data-active="true" )
		button.rating__star( type="button" )
	li.rating__item
		button.rating__star( type="button" )