// rating 
ul.rating
	li.rating__item
		button.rating__star( type="button" data-index="1" )
	li.rating__item
		button.rating__star( type="button" data-index="2" )
	li.rating__item
		button.rating__star( type="button" data-index="3" )
	li.rating__item
		button.rating__star( type="button" data-index="4" )
	li.rating__item
		button.rating__star( type="button" data-index="5" )