// add-comment 
article.add-comment
	form.add-comment__form( method="get" action="" )
		h2.add-comment__header
			b.add-comment__header-text Add comment
		.add-comment__form-group
			label.add-comment__label-text( for="#comment-name" ) Name (
				b.add-comment__label-text-strong Required
				| )
			input.add-comment__input( id="comment-name" type="text" name="name" )
		.add-comment__form-group
			label.add-comment__label-text( for="#comment-email" ) Email (
				b.add-comment__label-text-strong Required
				| )
			input.add-comment__input( id="comment-email" type="text" name="email" )
		fieldset.add-comment__form-group
			legend.add-comment__label-text Rating (
				b.add-comment__label-text-strong Required
				| )
			.add-comment__rating
				include ../rating/rating.jade
		.add-comment__form-group
			label.add-comment__label-text( id="comment-text" type="text" name="comment" ) Your comment (
				b.add-comment__label-text-strong Required
				| )
			textarea.add-comment__textarea( id="comment-text" type="text" name="comment" )
		.add-comment__form-group
			button.add-comment__submit Submit
		