// main-nav 
ul.main-nav
	li.main-nav__item
		a.main-nav__link( href="#" ) Entertainment
	li.main-nav__item
		a.main-nav__link( href="#" ) Lifestyle
	li.main-nav__item
		a.main-nav__link( href="#" ) Technology
	li.main-nav__item
		a.main-nav__link( href="#" ) Entertainment
	li.main-nav__item
		a.main-nav__link( href="#" ) Lifestyle
	li.main-nav__item.main-nav__item--last
		a.main-nav__link( href="#" ) Sports