/* new-products */
.new-products {
	display: inline-block;
	vertical-align: top;
	overflow: hidden;

	width: 256px + 34px;
	border-top-right-radius: 6px;
	margin-top: $base-lh;

	text-align: left;

	background: $bgc_new-products;

	@media ( min-width: 335px ) {
		width: 256px + 48px;
	}

	@media ( min-width: 615px ) {
		width: 865px - 256px - 24px;
	}

	@media ( min-width: 1150px ) {
		width: 865px;
	}

	&__header {
		border-bottom: $bob_new-products__header;		
		padding-left: 24px;

		font-family: $ff_caption_1;
		font-size: $fz_new-products__header;
		line-height: $base-lh * 3 - 1;
		color: $c_new-products__header;
		text-align: center;
		text-transform: uppercase;

		background-color: $bgc_new-products__header;

		@media ( min-width: 865px ) {
			text-align: left;
		}
	}

	&__content {
		overflow: hidden;

		border-left: $bo_1_new-products__content;
		border-right: $bo_1_new-products__content;
		padding-top: 24px;

		@media ( min-width: 335px ) {
			border-left: $bo_new-products__content;
			border-right: $bo_new-products__content;
		}
	}

	&__product-box {
		display: block;

		font-size: 0;
		line-height: 0;
		text-align: left;
	}

	&__scroll-box {
		padding: 0 17px;

		font-size: 0;
		line-height: $base-lh * 2;

		@media ( min-width: 335px ) {
			padding: 0 24px;
		}
	}

	&__scrollbar-wrap {
		display: inline-block;
		vertical-align: top;

		width: 100%;
		border: $bo_new-products__scrollbar;
		border-radius: 6px;
		padding: 0 50px;

		background-color: $bgc_new-products__scrollbar;
	}
}

/* jquery ui-slider */
.ui-slider {
	position: relative;
}

.ui-slider-handle {
	position: absolute;
	z-index: $z_new-products__handle;

	width: 100px;
	height: 20px;
	border-radius: 10px;
	margin-left: -50px;

	font-family: $ff_text;
	font-size: $fz_new-products__handle;
	font-weight: bold;
	line-height: $base-lh + 2;
	color: $c_new-products__handle;
	text-align: center;

	background-color: $bgc_new-products__handle;

	cursor: pointer;
}

.ui-slider-horizontal {
	width: 100%;
	height: 10px;

	.ui-slider-handle {
		top: -5px;
	}
}

.ui-slider-vertical {
	width: 100%;
	height: 10px;

	.ui-slider-handle {
		left: -.3em;
		margin-left: 0;
		margin-bottom: -.6em;
	}
}