// new-products 
article.new-products
	h2.new-products__header New products
	.new-products__content
		include ../product-panel/product-panel.jade
	.new-products__scroll-box
		.new-products__scrollbar-wrap
			.new-products__scrollbar