// about 
article.about
	h2.about__header Who we are
	p.about__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error laudantium commodi assumenda quae, expedita optio aliquam, eveniet dolores fugit iusto, quidem voluptatum delectus quis explicabo aliquid quasi ea eum placeat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius architecto odit aliquam est
	ul.about__info
		li.about__item
			i.fa.fa-flag.about__address-icon
			a.about__address( href="#" ) Address 123, Country
		li.about__item
			i.fa.fa-mobile.about__phone-icon
			a.about__phone( href="#" ) (043) 875-9211
		li.about__item
			i.fa.fa-envelope.about__mail-icon
			a.about__mail( href="#" ) info@kopasoft.com