/**********************
*     ANIMATIONS      *
***********************/
@keyframes scaleUpFrom {
	from { opacity: 0; transform: scale(1.5); }
}

@keyframes scaleUpTo {
	to { opacity: 0; transform: scale(1.5); }
}

@keyframes backSlideOut {
  25% { opacity: .5; transform: translateZ(-500px); }
  75% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
}

@keyframes backSlideIn {
  0% { opacity: .5; transform: translateZ(-500px) translateX(200%); }
  25% { opacity: .5; transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; transform: translateZ(-500px); }
  100% { opacity: 1; transform: translateZ(0) translateX(0); }
}

.owl-origin {
	perspective : 1200px;
}

.owl-fadeUp-in {
	animation: scaleUpFrom .5s ease both;
}

.owl-fadeUp-out {
	animation: scaleUpTo .5s ease both;
}

.owl-backSlide-out {
  animation: backSlideOut 1s both ease;
}

.owl-backSlide-in {
  animation: backSlideIn 1s both ease;
}
