/**********************
*        BASE         *
***********************/

@include establish-baseline;
@include border-box-sizing(true);

%wrapper {
	@include container;
}


/* clearfix placeholder */
%clearfix:after {
	content: "";
	display: block;
	clear: both;
}
