/**********************
*        BASE         *
***********************/

@include establish-baseline;
@include border-box-sizing(true);

%wrapper {
	@include container;
	padding-left: 15px;
	padding-right: 15px;
}

%clearfix:after {
	display: block;
	content: "";
	clear: both;
}

%justify-helper:after {
	display: inline-block;
	content: "";

	width: 100%;
	height: 0;
}
