/**********************
*        BLOCKS       *
***********************/

/* header */
.header {
	width: 100%;

	&__nav{	
		position: relative;

		height: $base-lh * 4;

		background: $bg_header__nav;

		@media ( min-width: 990px ) {
			height: auto;
		}
	}

	&__news {
		position: relative;
		z-index: $z_header__news;

		border-top: $bo_header__news;
		border-bottom: $bo_header__news;

		background-color: $bgc_header__news;	
	}

	&__wrap {
		position: relative;

		@extend %wrapper;
	}

	&__mobile-menu {
		position: fixed;
		top: 0;
		left: 0;
		z-index: $z_header__mobile-menu;

		display: none;

		width: 100%;
		height: 100%;

		background-color: $bgc_header__mobile-menu;

		@media ( min-width: 990px ) {
			position: static;

			display: block !important;

			background-color: inherit;
		}
	}

	&__mobile-toggle {
		position: relative;
		z-index: $z_header__mobile-toggle;

		float: right;

		width: $base-lh * 2;
		height: $base-lh * 2;
		border-radius: 6px;
		margin-top: $base-lh;
		margin-bottom: $base-lh;

		font-size: $fz_header__mobile-toggle;
		line-height: $base-lh;
		color: $c_header__mobile-toggle;

		background-color: $bgc_header__mobile-toggle;

		&:hover { color: $c_hv_header__mobile-toggle; }

		@media ( min-width: 990px ) {
			display: none;
		}

		&--open {
			position: fixed;
			top: 0;
			right: 15px;

			& .header__mobile-open {
				display: none;
			}

			& .header__mobile-close {
				display: inline-block;
			}
		} 		
	}

	&__mobile-close {
		display: none;
	}
}

/* social-nav */
.social-nav {
	display: block;

	padding-top: $base-lh * 4;
	padding-bottom: $base-lh;

	font-size: 0;
	color: $c_social-nav;
	text-align: center;

	@media ( min-width: 400px ) {
		padding-top: $base-lh;
	}

	@media ( min-width: 990px ) {
		float: right;
	}

	&__item {
		display: inline-block;
		vertical-align: top;

		width: $base-lh * 2;
		border-radius: 100%;
		margin-right: 9px;	

		font-size: $fz_social-nav__item;
		line-height: $base-lh * 2;

		background-color: $bgc_social-nav__item;
		box-shadow: $bsh_social-nav__item;

		@media ( min-width: 990px ) {
			background: $bg_social-nav__item;
		}

		&:hover { background-color: $bgc_hv_social-nav__item; }

		&--form {
			display: block;

			width: 200px;
			border-radius: 36px;			
			margin-top: 24px;
			margin-right: auto;
			margin-left: auto;

			@media ( min-width: 990px ) {
				display: inline-block;

				margin-top: 4px;
				margin-right: 0;
			}

			&:hover { 
				background-color: $bgc_social-nav__item;

				@media ( min-width: 990px ) {
					background: $bg_social-nav__item;
				} 
			}
		}
	}

	&__link {
		display: block;

		text-align: center;
	}
}

/* search-form */
.search-form {
	@extend %clearfix;

	&__input {
		float: left;

		width: 165px;
		height: $base-lh * 2 - 6px;
		padding-left: 15px;
		padding-right: 15px;

		font-family: $ff_text;
		font-size: $fz_search-form__input;
		line-height: $base-lh * 2 - 6px;
		
		&:focus::placeholder {
			opacity: 0;
		}
	}

	&__submit {
		float: left;

		width: 35px;

		font-size: $fz_search-form__submit;
		line-height: $base-lh * 2 - 6px;
	}
}

/* main nav */
.main-nav {
	clear: both;
	@extend %clearfix;

	border-top: $bo_main-nav;
	border-left: $bo_main-nav;
	border-right: $bo_main-nav;
	
	font-family: $ff_caption_1;
	color: $c_main-nav;
	text-transform: uppercase;
	text-align: center;

	background-color: $bgc_main-nav;

	@media ( min-width: 990px ) {
		border-radius: 12px 12px 0 0;
		padding-left: 21%;

		background: $bg_main-nav;
	}
	
	&__item {
		display: block;

		border-left: $bo_main-nav;

		font-size: $fz_main-nav__item;	
		line-height: $base-lh * 3 - 1px;

		box-shadow: $bsh_1_main-nav__item;

		@media ( min-width: 990px ) {
			float: left;

			box-shadow: $bsh_main-nav__item;
		}

		&:hover { 
			background-color: $bgc_hv_main-nav; 
			box-shadow: none;

			@media ( min-width: 990px ) {
				background: $bg_hv_main-nav__item;
			}
		}

		&--last {
			border-right: $bo_main-nav;
		}
	}

	&__link {
		display: block;

		padding-left: 20px;
		padding-right: 20px;
	}
}

/* logo */
.logo {
	position: absolute;
	top: 0;
	left: 0;
	z-index: $z_logo;

	display: block;

	width: 74px;	
	padding: $base-lh / 2;

	font-family: $ff_logo;
	color: $c_logo;

	background: $bg_logo;

	@media ( min-width: 480px ) {
		top: 0;
		left: 25px;

		width: 120px;
		border-bottom-left-radius: 12px;
		padding-top: $base-lh - 2px;
		padding-left: $base-lh;
		padding-right: $base-lh;
		padding-bottom: $base-lh - 2px;

		&::before {
			position: absolute;
			bottom: 0;
			right: -12px;

			display: block;
			content: "";

			width: 12px;
			height: 14px;

			background: $bg_before_logo;	
			border-bottom-right-radius: 12px;
		}

		&::after {
			position: absolute;
			bottom: 6px;
			right: -10px;

			display: block;
			content: "";

			width: 10px;
			height: 8px;
			border-bottom-right-radius: 12px;
			border-bottom-left-radius: 12px;

			background-color: $bgc_after_logo;	
		}
	}

	@media ( min-width: 990px ) {
		width: 180px;
		padding-left: $base-lh * 2;
	}
	
	&__strong {
		display: block;

		font-size: $fz_2_logo__strong;
		line-height: $base-lh * 2;
		text-transform: uppercase;

		@media ( min-width: 480px ) {
			font-size: $fz_1_logo__strong;
			line-height: $base-lh * 3;
		}

		@media ( min-width: 990px ) {
			font-size: $fz_logo__strong;
			line-height: $base-lh * 5;
		}
	}

	&__small {
		display: block;

		padding-left: 2px;

		font-size: $fz_2_logo__small;
		line-height: $base-lh * 1;	

		@media ( min-width: 480px ) {
			font-size: $fz_1_logo__small;
			line-height: $base-lh * 2;
		}

		@media ( min-width: 990px ) {
			font-size: $fz_logo__small;
			line-height: $base-lh * 3;
		}	
	}
}

// .ie .logo {
// 	background: $bg_ie_logo;
// }

/* news-feed */
.news-feed {
	float: left;

	display: none;
	padding-left: 150px;

	font-family: $ff_text;
	font-size: $fz_news-feed;
	line-height: $base-lh * 2 - 2px;
	color: $c_news-feed;

	@media ( min-width: 780px ) {
		display: block;
	}	

	@media ( min-width: 990px ) {
		padding-left: 235px;
	}
}

/* shopping-cart */
.shopping-cart {
	position: relative;

	font-family: $ff_text;
	font-size: $fz_shopping-cart;
	line-height: $base-lh * 2 - 2px;

	@media ( min-width: 480px ) {
		float: right;
	}

	&__label {
		float: left;

		color: $c_shopping-cart__label;
	}

	&__amount {
		float: left;

		margin: 0 4px;
		
		font-size: $fz_shopping-cart__amount;
		color: $c_shopping-cart__amount;
	}

	&__currency {
		float: left;

		margin-left: 4px;
		margin-right: 2px;

		font-size: $fz_shopping-cart__currency;
		color: $c_shopping-cart__currency;
	}

	&__price {
		float: left;

		font-size: $fz_shopping-cart__price;
		color: $c_shopping-cart__price;
	}

	&__toggle {
		float: right;

		width: 24px;
		border: $bo_shopping-cart__taggle;
		border-radius: 4px;
		margin-top: 5px; 
		margin-left: 10px;

		font-size: $fz_shopping-cart__taggle;
		line-height: $base-lh + 4px;
		color: $c_shopping-cart__taggle;
		text-shadow: $tsh_shopping-cart__taggle;

		background: $bg_shopping-cart__taggle;

		&:hover { background: $bg_hv_shopping-cart__taggle; }

		&:active .shopping-cart__icon-closed, 
		&:active .shopping-cart__icon-opened {			
			text-shadow: none;

			transform: translateY(1px);
		}

		&--open .shopping-cart__icon-closed {
			display: none;
		}

		&--open .shopping-cart__icon-opened {
			display: inline-block;
		}
	}

	&__icon-opened {
		display: none;
	}
}

/* shopping-basket */
.shopping-basket {
	position: absolute;
	top: ($base-lh * 2) - 1;
	right: 0;
	z-index: $z_shopping-basket;

	display: none;
	overflow: hidden;

	width: 100%;
	border-radius: 0 0 6px 6px;
	padding: $base-lh;

	font-family: $ff_text;
	font-size: $fz_shopping-basket;
	color: $c_shopping-basket;
	text-align: center;

	background-color: $bgc_shopping-basket;

	@media ( min-width: 480px ) {
		width: 300px;
	}

	&__item {
		@extend %clearfix;

		border: $bo_shopping-basket__item;
	}

	&__link {
		display: block;
		overflow: hidden;

		text-overflow: ellipsis;
		white-space: nowrap;

		&:hover { text-decoration: underline; }
	}

	&__img-box {
		float: left;

		@include width-span(3);
		height: $base-lh * 3 - 2;

		font-size: 0;
		line-height: $base-lh * 3 - 2;

		background-color: $bgc_shopping-basket__img-box; 
	}

	&__img {
		vertical-align: bottom;

		width: auto;
		height: $base-lh * 3 - 2;
	}

	&__item-name {
		float: left;
		
		@include width-span(5);
		padding: 0 10px;

		line-height: $base-lh * 3 - 2;
	}

	&__price {
		float: left;

		@include width-span(3);

		line-height: $base-lh * 3 - 2;
	}

	&__delete {
		float: right;

		@include width-span(1);	
	}

	&__delete-btn {
		display: block;

		width: 100%;

		font-size: $fz_shopping-basket__delete;
		line-height: $base-lh * 3 - 2;
		color: $c_shopping-basket__delete;

		transition: font-size .2s;

		&:hover { 	
			font-size: $fz_hv_shopping-basket__delete;

			background-color: $bgc_hv_shopping-basket__delete-btn;

			transition: font-size .2s;
		}
	}
}

/* main */
.main {
	font-size: 0;
	text-align: center;

	background-color: $bgc_main;

	@media ( min-width: 780px ) {
		background: $bg_main;
		background-color: $bgc_main;
	}

	&.main--product {
		padding-top: $base-lh * 2;
	}

	&__wrap {
		@extend %wrapper;
	}

	&__top-slider-wrap {
		position: relative;
		z-index: $z_main__top-slider-wrap;
	}
}

/* top slider */
.top-slider {
	position: relative;

	width: 100%;
	margin-bottom: $base-lh * 2; 

	@media ( min-width: 900px ) {
		margin-bottom: 0;
	}

	&__item {
		@extend %clearfix;

		width: 100%;

		@media ( min-width: 860px ) {
			height: $base-lh * 22;
		}
	}

	&__img-box {
		position: relative;

		float: left;

		width: 100%;
		height: $base-lh * 12;

		@media ( min-width: 480px ) {
			height: $base-lh * 17;
		}

		@media ( min-width: 860px ) {
			@include width-span(6);
			height: 100%;
		}
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: $z_top-slider__img;

		display: block;

		width: 200px;
		height: 164px;
		margin: auto;

		@media ( min-width: 480px ) {
			width: 295px;
			height: 242px;
		}

		@media ( min-width: 860px ) {
			width: 388px;
			height: 318px;
		}
	}

	&__info-box {
		float: left;

		width: 100%;

		font-size: 0;
		text-align: center;
		
		@media ( min-width: 860px ) {
			@include width-span(6);
			padding-top: $base-lh * 5;

			text-align: left;
		}
	}

	&__header {
		font-family: $ff_caption_1;
		font-size: $fz_1_top-slider__header;
		line-height: $base-lh * 2;
		color: $c_top-slider__header;

		@media ( min-width: 480px ) {
			font-size: $fz_top-slider__header;
		}
	}

	&__text {	
		margin: $base-lh auto;

		font-family: $ff_text;
		font-size: $fz_top-slider__text;
		line-height: $base-lh;
		color: $c_top-slider__text;

		@media ( min-width: 480px ) {
			max-width: 70%;
		}

		@media ( min-width: 860px ) {
			max-width: 350px;
			margin: $base-lh 0;
		}

		@media ( min-width: 1060px ) {
			max-width: 450px;
		}
	}

	&__btn {
		display: inline-block;
		vertical-align: top;
		@extend %clearfix;

		width: 160px;
		border: $bo_top-slider__btn;
		border-radius: 6px;
		margin: 3px 0;

		font-family: $ff_caption_1;
		font-size: $fz_top-slider__btn;		
		color: $c_top-slider__btn;
		text-align: center;

		background: $bg_top-slider__btn;
	}

	&__btn-text, &__btn-arrow {
		float: left;

		line-height: $base-lh * 3 - 8;

		box-shadow: $bsh_top-slider__btn;

		&:hover {
			background: $bg_hv_top-slider__btn;
			box-shadow: none;
		}
	}

	&__btn-text {	
		@include width-span(9);

		text-shadow: $tsh_top-slider__btn-text;
		text-transform: capitalize;		
	}

	&__btn-arrow {
		@include width-span(3);
		border-left: $bo_top-slider__btn;
	}

	&__btn-prev, &__btn-next {
		position: absolute;
		z-index: $z_top-slider__controls;

		display: none;

		width: 63px;
		border: $bo_top-slider__controls;
		border-radius: 100%;
		margin-top: -32px;

		font-size: $fz_top-slider__controls;
		line-height: $base-lh * 3 - 3;
		color: $c_top-slider__controls;

		background: $bg_top-slider__controls;

		&:hover {
			background: $bg_hv_top-slider__controls;
		}

		@media ( min-width: 650px ) {
			display: block;
		}
	}

	&__btn-prev {
		top: 50%;
		left: 0;

		@media ( min-width: 1240px ) {
			left: -63px;
		}

		padding-right: 5px;
		padding-bottom: 2px;
	}

	&__btn-next {
		top: 50%;
		right: 0;

		@media ( min-width: 1240px ) {
			right: -63px;
		}

		padding-left: 5px;
		padding-bottom: 2px;
	}
}

/* featured */
.featured {
	position: relative;

	display: inline-block;
	vertical-align: top;
	overflow: hidden;

	width: 250px;
	border-radius: 6px 6px 0 0;

	text-align: left;

	box-shadow: $bsh_featured;

	&__header {
		padding: 0 24px;

		font-family: $ff_caption_2;
		font-size: $fz_featured__header;
		line-height: $base-lh * 3;
		color: $c_featured__header;
		text-transform: uppercase;
		text-shadow: $tsh_featured__header;

		background: $bg_featured__header;
	}

	&__btn-prev, &__btn-next {
		float: right;

		text-shadow: $tsh_featured__header;

		&:active {
			transform: translate(1px, 1px);
			text-shadow: none;
		}
	}

	&__btn-prev {
		margin-right: 10px;
	}

	&__item {
		padding: 24px 24px 18px 24px;

		background-color: $bgc_featured__content;
	}

	&__img {
		display: block;

		width: 202px;
		height: 194px;
		margin-bottom: 16px;
	}

	&__info {
		@extend %clearfix;

		font-size: 1px;
		text-align: justify;

		@extend %justify-helper;
	}

	&__about {
		display: inline-block;
		vertical-align: top;

		font-family: $ff_text;
		line-height: $base-lh;
		text-align: left;
	}

	&__item-name {
		margin-bottom: $base-lh;

		font-weight: bold;
		font-size: $fz_featured__item-name;	
		color: $c_featured__item-name;
	}

	&__current-price {
		float: left;

		margin-right: 16px;

		font-size: $fz_featured__current-price;
		color: $c_featured__current-price;
	}

	&__old-price {
		float: left;

		font-size: $fz_featured__old-price;
		color: $c_featured__old-price;
		text-decoration: line-through;
	}
}

/* btn-cart */
.btn-cart {
	display: inline-block;
	vertical-align: bottom;
	
	&:hover .btn-cart__icon { 
		background: $bg_hv_btn-cart__icon;
		box-shadow: none;
	}

	&:hover .btn-cart__text { 
		background: $bg_hv_btn-cart__text;
	}

	&--trending {
		float: left;
		clear: both;

		margin-top: $base-lh;

		& .btn-cart__icon {
			float: left;

			border-radius: 6px 0 0 6px;
		}

		& .btn-cart__text {
			float: left;

			width: 90px;
			border: $bo_btn-cart__text;
			border-top-right-radius: 6px;
			border-bottom-right-radius: 6px;

			font-family: $ff_text;
			font-weight: bold;
			font-size: $fz_btn-cart__text;
			line-height: $base-lh * 2 + 4; 
			color: $c_btn-cart__text;
			text-align: center;

			background: $bg_btn-cart__text;
		}
	}

	&--added {

		& .btn-cart__icon {
			border: $bo_btn-cart--added__icon;

			background: $bg_btn-cart--added__icon;
		}

		&:hover .btn-cart__icon { 
			background: $bg_btn-cart--added__icon;
		}

		&:hover .btn-cart__text { 
			background: $bg_btn-cart__text;
		}
	}

	&__icon {
		display: block;

		width: 42px;
		border: $bo_btn-cart__icon;
		border-radius: 6px;

		font-size: $fz_btn-cart__icon;
		line-height: $base-lh * 2 + 4;
		color: $c_btn-cart__icon;

		background: $bg_btn-cart__icon;
		box-shadow: $bsh_btn-cart__icon;
	}
}

/* new-products */
.new-products {
	display: inline-block;
	vertical-align: top;
	overflow: hidden;

	width: 256px + 34px;
	border-top-right-radius: 6px;
	margin-top: $base-lh;

	text-align: left;

	background: $bgc_new-products;

	@media ( min-width: 335px ) {
		width: 256px + 48px;
	}

	@media ( min-width: 615px ) {
		width: 865px - 256px - 24px;
	}

	@media ( min-width: 1150px ) {
		width: 865px;
	}

	&__header {
		border-bottom: $bob_new-products__header;		
		padding-left: 24px;

		font-family: $ff_caption_1;
		font-size: $fz_new-products__header;
		line-height: $base-lh * 3 - 1;
		color: $c_new-products__header;
		text-align: center;
		text-transform: uppercase;

		background-color: $bgc_new-products__header;

		@media ( min-width: 865px ) {
			text-align: left;
		}
	}

	&__content {
		overflow: hidden;

		border-left: $bo_1_new-products__content;
		border-right: $bo_1_new-products__content;
		padding-top: 24px;

		@media ( min-width: 335px ) {
			border-left: $bo_new-products__content;
			border-right: $bo_new-products__content;
		}
	}

	&__item-box {
		@extend %clearfix;
	}

	&__item {
		float: left;

		width: 256px;
	}

	&__item:not(:last-child) {
		margin-right: 24px;
	}

	&__img-box {
		position: relative;
		z-index: $z_new-products__img-box;

		width: 256px;
		height: 157px;
		border: $bo_new-products__img-box;

		background-color: $bgc_new-products__img-box;
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: $z_new-products__img;

		display: block;

		width: 180px;
		height: 120px;
		margin: auto;
	}

	&__info {
		font-size: 1px;
		text-align: justify;

		@extend %justify-helper;
	}

	&__about {
		display: inline-block;
		vertical-align: top;

		font-family: $ff_text;
		line-height: $base-lh;
		text-align: left;
	}

	&__item-name {
		margin-top: $base-lh;
		margin-bottom: $base-lh;

		font-weight: bold;
		font-size: $fz_new-products__item-name;	
		color: $c_new-products__item-name;
	}

	&__current-price {
		float: left;

		margin-right: 16px;

		font-size: $fz_new-products__current-price;
		color: $c_new-products__current-price;
	}

	&__old-price {
		float: left;

		font-size: $fz_new-products__old-price;
		color: $c_new-products__old-price;
		text-decoration: line-through;
	}

	&__scroll-box {
		padding: 0 17px;

		font-size: 0;
		line-height: $base-lh * 2;

		@media ( min-width: 335px ) {
			padding: 0 24px;
		}
	}

	&__scrollbar-wrap {
		display: inline-block;
		vertical-align: top;

		width: 100%;
		border: $bo_new-products__scrollbar;
		border-radius: 6px;
		padding: 0 50px;

		background-color: $bgc_new-products__scrollbar;
	}
}

/* jquery ui-slider */
.ui-slider {
	position: relative;
}

.ui-slider-handle {
	position: absolute;
	z-index: $z_new-products__handle;

	width: 100px;
	height: 20px;
	border-radius: 10px;
	margin-left: -50px;

	font-family: $ff_text;
	font-size: $fz_new-products__handle;
	font-weight: bold;
	line-height: $base-lh + 2;
	color: $c_new-products__handle;
	text-align: center;

	background-color: $bgc_new-products__handle;

	cursor: pointer;
}

.ui-slider-horizontal {
	width: 100%;
	height: 10px;

	.ui-slider-handle {
		top: -5px;
	}
}

.ui-slider-vertical {
	width: 100%;
	height: 10px;

	.ui-slider-handle {
		left: -.3em;
		margin-left: 0;
		margin-bottom: -.6em;
	}
}

/* sale-badge */
.sale-badge {
	position: absolute;
	top: 0;
	right: 0;
	z-index: $z_sale-badge;

	width: 110px;
	height: 0;
	border-bottom: $bob_sale-badge;
	border-left: $bol_sale-badge;
	border-right: $bol_sale-badge;

	font-family: $ff_text;
	font-style: italic;
	font-size: $fz_sale-badge;
	line-height: 30px;
	color: $c_sale-badge;
	text-align: center;

	transform: translate(35px, 5px) rotate(45deg);

	&--trending {
		top: 8px;
		right: 8px;
	}

	&::before {
		position: absolute;
		top: 2px;
		left: -2px;

		display: block;
		content: "";

		width: 55px;
		height: 1px;

		background-color: $bgc_before_sale-badge;
	}

	&::after {
		position: absolute;
		top: 26px;
		left: -26px;

		display: block;
		content: "";

		width: 103px;
		height: 1px;

		background-color: $bgc_before_sale-badge;
	}

	&__back-left, &__back-right {
		position: absolute;
		top: 30px;
		
		width: 0;
		height: 0;
		border-top: $bot_sale-badge__back;
		border-right: $bor_sale-badge__back;
		border-left: $bor_sale-badge__back;
	}

	&__back-left {		
		right: 70px;
	}

	&__back-right {
		left: 70px;
	}
}

/* trending */
.trending {
	@extend %clearfix;

	margin-top: $base-lh;
	margin-left: -15px;
	margin-right: -15px;

	background-color: $bgc_trending;

	@media ( min-width: 740px ) {
		margin-left: 0;
		margin-right: 0;
	}

	@media ( min-width: 1150px ) {
		border-top-width: 18px;
		border-style: solid;
		border-image: $boi_trending;
		margin-top: 0;
	}

	&__menu {
		position: relative;
		z-index: $z_trending__menu;

		float: left;

		width: 100%;

		text-align: center;

		@media ( min-width: 740px ) {
			width: 30%;

			text-align: left;
		}

		@media ( min-width: 1100px ) {
			width: 23%;
		}
	}

	&__header {
		padding: 0 24px;

		font-family: $ff_caption_2;
		font-size: $fz_trending__header;
		line-height: $base-lh * 4;
		color: $c_trending__header;
		text-transform: uppercase;

		background-color: $bgc_trending__header;
	}

	&__nav {
		background-color: $bgc_trending;

		@media ( min-width: 740px ) {
			padding-bottom: $base-lh;
		}
	}

	&__nav-item {
		padding: 0 24px;

		font-family: $ff_caption_1;
		font-size: $fz_trending__nav-item;
		line-height: $base-lh * 3;
		color: $c_trending__nav-item;
		text-shadow: $tsh_trending__nav-item;

		cursor: pointer;

		&--active {
			position: relative;

			color: $c_trending__nav-item--active;
			text-shadow: none;

			background: $bg_trending__nav-item--active;

			@media ( min-width: 740px ) {
				border-top-left-radius: 10px; 
				padding-left: 34px;
				margin-left: -10px;

				&::after {
					position: absolute;
					top: 0;
					right: -17px;

					display: block;
					content: "";

					border-left: $bol_after_trending__nav-item--active;
					border-top: $bot_after_trending__nav-item--active;
					border-bottom: $bot_after_trending__nav-item--active;
				}

				&::before {
					position: absolute;
					left: 0;
					bottom: -13px;
					z-index: $z_before_trending__nav-item--active;

					display: block;
					content: "";

					width: 25px;
					height: 25px;
					border-radius: 100%;

					background-color: $bg_before_trending__nav-item--active;
					box-shadow: $bsh_before_trending__nav-item--active;
				}
			}		
		}
	}

	&__item-box {
		float: right;

		width: 100%;

		text-align: left;

		@media ( min-width: 740px ) {
			width: 70%;
		}

		@media ( min-width: 1100px ) {
			width: 77%;
		}
	}

	&__item {
		position: relative;

		float: left;

		width: 100%;
		height: $base-lh * 13;

		background: $bg_trending__item;
		box-shadow: $bsh_trending__item;

		@media ( min-width: 400px ) {
			height: $base-lh * 15;
		}

		@media ( min-width: 1100px ) {
			width: 50%;
		}
	}

	&__img-box {
		position: relative;

		float: left;

		width: 45%;
		height: $base-lh * 13;

		@media ( min-width: 400px ) {
			width: 57%;
			height: $base-lh * 15;
		}
	}

	&__img {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;

		display: block;
		
		width: auto;
		max-height: 160px;
		margin: auto;

		@media ( min-width: 400px ) {
			max-height: 265px;
		}
	}

	&__info {
		float: left;

		width: 55%;
		padding: $base-lh * 2 24px $base-lh * 2 0;

		@media ( min-width: 400px ) {
			width: 43%;
			padding: $base-lh * 3 24px $base-lh * 3 0;
		}
	}

	&__item-name {
		font-family: $ff_caption_1;
		font-size: $fz_trending__item-name;
		line-height: $base-lh * 2;
		color: $c_trending__item-name;
	}

	&__item-text {
		margin-bottom: $base-lh;

		font-family: $ff_text;
		font-size: $fz_trending__item-text;
		line-height: $base-lh;
		color: $c_trending__item-text;
	}

	&__current-price {
		float: left;

		margin-right: 16px;

		font-family: $ff_text;
		font-size: $fz_featured__current-price;
		color: $c_featured__current-price;
	}

	&__old-price {
		float: left;

		font-family: $ff_text;
		font-size: $fz_featured__old-price;
		color: $c_featured__old-price;
		text-decoration: line-through;
	}
}

/* footer */
.footer {
	background: $bg_1_footer;

	@media ( min-width: 1150px ) {
		background: $bg_footer;
	}

	&__wrap {
		@extend %wrapper;
	}

	&__brand-slider-wrap {
		overflow: hidden;
		@extend %clearfix;

		border-radius: 0 0 6px 6px;
		margin-bottom: $base-lh;
		margin-left: -15px;
		margin-right: -15px;

		background: $bg_footer__brand-slider-wrap;

		@media ( min-width: 740px ) {
			margin-left: 0;
			margin-right: 0;
		}
	}

	&__bottom-line {
		@extend %clearfix;

		padding: $base-lh 0;

		background-color: $bgc_footer__bottom-line;

		font-family: $ff_text;
		font-size: $fz_footer__bottom-line;
		line-height: $base-lh;
		color: $c_footer__bottom-line;
	}

	&__copy {
		text-align: center;

		@media ( min-width: 640px ) {
			float: left;
		}
	}

	&__nav {

		@media ( min-width: 640px ) {
			float: right;
		}
	}

	&__nav-item {
		margin-top: $base-lh;

		text-align: center;

		@media ( min-width: 640px ) {
			float: left;

			margin: 0 10px;
		}
	}

	&__nav-link {
		&:hover { text-decoration: underline; }
	}
}

/* brand slider */
.brand-slider {
	float: left;

	width: 76%;

	@media ( min-width: 360px ) {
		width: 86%;
	}

	&__item {
		height: $base-lh * 5;
		
		font-size: 0;
		line-height: $base-lh * 5;
		text-align: center;
	}

	&__link {
		display: block;
	}

	&__img {
		vertical-align: middle;

		max-width: 100%;
		max-height: 80px; 
	}

	&__btn-prev, &__btn-next {
		width: 12%;

		font-size: $fz_brand-slider__controls;
		line-height: $base-lh * 5;
		color: $c_brand-slider__controls;
		text-shadow: $tsh_brand-slider__controls;

		&:hover  { font-size: $fz_hover_brand-slider__controls; }
		&:active { font-size: $fz_brand-slider__controls; }

		@media ( min-width: 360px ) {
			width: 7%;
		}
	}

	&__btn-prev {
		float: left;
	}

	&__btn-next {
		float: right;
	}
}

/* about */
.about {
	width: 100%;
	padding: $base-lh 0 $base-lh 0;
	margin: 0 auto;

	text-align: center;

	@media ( min-width: 500px ) {
		width: 70%;
	}

	@media ( min-width: 860px ) {
		width: 50%;
	}

	@media ( min-width: 1080px ) {
		float: left;

		@include width-span(4);
		padding: $base-lh 30px $base-lh 0;

		text-align: left;
	}

	&__header {
		font-family: $ff_caption_1;
		font-size: $fz_about__header;
		line-height: $base-lh * 2;
		color: $c_about__header;
		text-transform: capitalize;
	}

	&__text {
		padding: $base-lh 0;

		font-family: $ff_text;
		font-size: $fz_about__text;
		line-height: $base-lh;
		color: $c_about__text;
	}

	&__item {
		@extend %clearfix;

		padding-top: $base-lh;

		font-size: 0;
	}

	&__address, &__phone, &__mail {
		display: inline-block;
		vertical-align: top;

		font-family: $ff_text;
		font-size: $fz_about__text;
		line-height: $base-lh;
		color: $c_about__text;

		&:hover { text-decoration: underline; }
	}

	&__address-icon, &__phone-icon, &__mail-icon {
		display: inline-block;
		vertical-align: top;

		width: 16px;
		margin-right: 15px;

		font-size: $fz_about__icons;
		color: $c_about__icons;
		line-height: $base-lh;
		text-align: center;
	}
}

/* categories */
.categories {
	width: 100%;
	padding: $base-lh 0 0 0;
	margin: 0 auto;

	@media ( min-width: 500px ) {
		width: 70%;
	}

	@media ( min-width: 860px ) {
		width: 50%;
	}

	@media ( min-width: 1080px ) {
		float: left;

		@include width-span(4);
		padding: $base-lh 30px $base-lh 0;
	}

	&__header {
		font-family: $ff_caption_1;
		font-size: $fz_categories__header;
		line-height: $base-lh * 2;
		color: $c_categories__header;
		text-align: center;
		text-transform: capitalize;

		@media ( min-width: 1080px ) {
			text-align: left;
		}
	}

	&__item-box {
		padding-top: $base-lh;

		font-size: 1px;
		text-align: justify;

		@extend %justify-helper;				
	}

	&__item {
		display: inline-block;
		vertical-align: top;

		width: 95px;
		border-bottom: $bob_categories__item;
		padding-bottom: $base-lh;
		margin-bottom: $base-lh - 1;

		font-family: $ff_text;
		font-size: $fz_categories__item;
		line-height: $base-lh;
		color: $c_categories__item;

		@media ( min-width: 1080px ) {
			border-bottom: none;
			padding-bottom: 0;
			margin-bottom: 0;

			&:not(:nth-last-child(-n+3)) {
				border-bottom: $bob_categories__item;
				padding-bottom: $base-lh;
				margin-bottom: $base-lh - 1;
			}
		}
	}

	&__item-link {
		&:hover { text-decoration: underline; }
	}
}

/* tweets */
.tweets {
	width: 100%;
	padding: $base-lh 0 $base-lh 0;
	margin: 0 auto;

	@media ( min-width: 500px ) {
		width: 70%;
	}

	@media ( min-width: 860px ) {
		width: 50%;
	}

	@media ( min-width: 1080px ) {
		float: right;

		@include width-span(4);
		padding: $base-lh 30px $base-lh 0;
	}

	&__header {
		font-family: $ff_caption_1;
		font-size: $fz_tweets__header;
		line-height: $base-lh * 2;
		color: $c_tweets__header;
		text-align: center;
		text-transform: capitalize;

		@media ( min-width: 1080px ) {
			text-align: left;
		}
	}

	&__item-box {
		padding-top: $base-lh;
	}

	&__item {
		@extend %clearfix;
		padding-bottom: $base-lh;
	}

	&__twitter-link {
		display: block;

		width: 47px;
		border-radius: 100%;
		margin: 0 auto 7px auto;

		font-size: $fz_tweets__twitter-link;
		line-height: 47px;
		color: $c_tweets__twitter-link;
		text-align: center;

		background-color: $bgc_tweets__twitter-link;
		box-shadow: $bsh_tweets__twitter-link;

		@media ( min-width: 500px ) {
			float: left;
			
			margin: 0 20px 0 0;
		}

		&:hover {
			background-color: $bgc_hv_tweets__twitter-link;
		}
	}

	&__info {
		font-family: $ff_text;
		font-size: $fz_tweets__info;
		line-height: $base-lh;
		color: $c_tweets__info;
		text-align: center;

		@media ( min-width: 500px ) {
			float: left;

			text-align: left;
		}
	}

	&__link {
		&:hover { text-decoration: underline; }
	}
}

/* breadcrumbs */
.breadcrumbs {
	@extend %clearfix;

	width: 100%;
	border-bottom: 1px solid #d8d8d8;
	border-radius: 6px 6px 0 0;
	padding: 0 20px;

	font-family: $ff_caption_1;
	font-size: 16px;

	background: linear-gradient(to top, #e2e2e2 0%, #fbfbfb 15%, #fbfbfb 100%);

	&__item {
		float: left;
	}

	&__link {
		padding: 0 15px;

		line-height: $base-lh * 3 - 1px;
		color: #464545;

		&:hover {
			text-decoration: underline;
		}

		&.breadcrumbs__link--active {
			color: #f71818;
		}
	}

	&__icon {
		float: left;

		line-height: $base-lh * 3 - 1px;
		color: #f71818;
	}

	&__icon-home {
		float: left;

		font-size: 28px;
		line-height: $base-lh * 3 - 1px;
		color: rgba(137, 138, 140, 0.35);
	}
}

/* product */
.product {
	background-color: #f8f8f8;

	&__item {
		@extend %clearfix;
	}

	&__view {
		float: left;

		width: 50%;
		padding: $base-lh 24px 0 24px;
	}

	&__price-label {
		position: absolute;
	}

	&__imgbox {
		position: relative;

		width: 100%;
		height: $base-lh * 20;
		border: 1px solid #e5e5e5;

		font-size: 0;
		line-height: $base-lh * 20 - 2px;
		text-align: center;
	}

	&__img {
		vertical-align: middle;

		max-width: 100%;
		max-height: 100%;
	}

	&__thumbbox {
		@extend %justify-helper;

		font-size: 1px;
		text-align: justify;
	}

	&__thumbwrap {
		display: inline-block;

		width: 120px;
		height: $base-lh * 5;
		border: 1px solid #e5e5e5;
		margin-top: $base-lh;

		font-size: 0;
		line-height: $base-lh * 5 - 2px;
		text-align: 0;

		cursor: pointer;

		&:hover {
			border: 5px solid #f71818;

			line-height: $base-lh * 5 - 10px;
		}

		&.product__thumbwrap--active {
			border: 5px solid #f71818;

			line-height: $base-lh * 5 - 10px;
		}
	}

	&__thumb {
		vertical-align: middle;

		max-width: 100%;
		max-height: 100%;
	}

	&__info {
		float: right;

		width: 50%;
	}
}


