/**********************
*        BLOCKS       *
***********************/

/* header */
.header {
	width: 100%;

	&__nav{	
		position: relative;

		background: $bg_header__nav;
	}

	&__news {
		position: relative;
		z-index: $z_header__news;

		border-top: $bo_header__news;
		border-bottom: $bo_header__news;

		background-color: $bgc_header__news;	
	}

	&__wrap {
		position: relative;

		@extend %wrapper;
	}

	&__mobile-menu {
		position: fixed;
		top: 0;
		left: 0;
		z-index: $z_header__mobile-menu;

		display: none;

		width: 100%;
		height: 100%;

		background-color: $bgc_header__mobile-menu;

		@media ( min-width: 990px ) {
			position: static;

			display: block !important;

			background-color: inherit;
		}
	}

	&__mobile-toggle {
		position: relative;
		z-index: $z_header__mobile-toggle;

		float: right;

		width: $base-lh * 2;
		height: $base-lh * 2;
		border-radius: 6px;
		margin-top: $base-lh;
		margin-bottom: $base-lh;

		font-size: $fz_header__mobile-toggle;
		line-height: $base-lh;
		color: $c_header__mobile-toggle;

		background-color: $bgc_header__mobile-toggle;

		&:hover { color: $c_hv_header__mobile-toggle; }

		@media ( min-width: 990px ) {
			display: none;
		}

		&--open .header__mobile-open {
			display: none;
		}

		&--open .header__mobile-close {
			display: inline-block;
		}
	}

	&__mobile-close {
		display: none;
	}
}

/* social-nav */
.social-nav {
	display: block;

	padding-top: $base-lh * 4;
	padding-bottom: $base-lh;

	font-size: 0;
	color: $c_social-nav;
	text-align: center;

	@media ( min-width: 400px ) {
		padding-top: $base-lh;
	}

	@media ( min-width: 990px ) {
		float: right;
	}

	&__item {
		display: inline-block;
		vertical-align: top;

		width: $base-lh * 2;
		border-radius: 100%;
		margin-right: 9px;	

		font-size: $fz_social-nav__item;
		line-height: $base-lh * 2;

		background: $bg_social-nav__item;	
		box-shadow: $bsh_social-nav__item;

		&:hover { background-color: $bgc_hv_social-nav__item; }

		&--form {
			display: block;

			width: 200px;
			border-radius: 36px;			
			margin-top: 24px;
			margin-right: auto;
			margin-left: auto;

			@media ( min-width: 990px ) {
				display: inline-block;

				margin-top: 4px;
				margin-right: 0;
			}

			&:hover { background: $bg_social-nav__item; }
		}
	}

	&__link {
		display: block;

		text-align: center;
	}
}

/* search-form */
.search-form {
	@extend %clearfix;

	&__input {
		float: left;

		width: 165px;
		padding-left: 15px;
		padding-right: 15px;

		font-family: $ff_text;
		font-size: $fz_search-form__input;
		line-height: $base-lh * 2 - 6px;
		
		&:focus::placeholder {
			opacity: 0;
		}
	}

	&__submit {
		float: left;

		width: 35px;

		font-size: $fz_search-form__submit;
		line-height: $base-lh * 2 - 6px;
	}
}

/* main nav */
.main-nav {
	clear: both;
	@extend %clearfix;

	border-top: $bo_main-nav;
	border-left: $bo_main-nav;
	border-right: $bo_main-nav;
	
	font-family: $ff_caption_1;
	color: $c_main-nav;
	text-transform: uppercase;
	text-align: center;

	background: $bg_main-nav;

	@media ( min-width: 990px ) {
		border-radius: 12px 12px 0 0;
		padding-left: 21%;
	}
	
	&__item {
		display: block;

		border-left: $bo_main-nav;

		font-size: $fz_main-nav__item;	
		line-height: $base-lh * 3 - 1px;

		box-shadow: $bsh_1_main-nav__item;

		@media ( min-width: 990px ) {
			float: left;

			box-shadow: $bsh_main-nav__item;
		}

		&:hover { 
			background: $bg_hv_main-nav__item; 
			box-shadow: none;
		}

		&--last {
			border-right: $bo_main-nav;
		}
	}

	&__link {
		display: block;

		padding-left: 20px;
		padding-right: 20px;
	}
}

/* logo */
.logo {
	position: absolute;
	top: 0;
	left: 0;
	z-index: $z_logo;

	display: block;

	width: 74px;	
	padding: $base-lh / 2;

	font-family: $ff_logo;
	color: $c_logo;

	background: $bg_logo;

	@media ( min-width: 400px ) {
		top: 0;
		left: 25px;

		width: 120px;
		border-bottom-left-radius: 12px;
		padding-top: $base-lh - 2px;
		padding-left: $base-lh;
		padding-right: $base-lh;
		padding-bottom: $base-lh - 2px;

		&::before {
			position: absolute;
			bottom: 0;
			right: -12px;

			display: block;
			content: "";

			width: 12px;
			height: 14px;

			background: $bg_before_logo;	
			border-bottom-right-radius: 12px;
		}

		&::after {
			position: absolute;
			bottom: 6px;
			right: -10px;

			display: block;
			content: "";

			width: 10px;
			height: 8px;
			border-bottom-right-radius: 12px;
			border-bottom-left-radius: 12px;

			background-color: $bgc_after_logo;	
		}
	}

	@media ( min-width: 990px ) {
		width: 180px;
		padding-left: $base-lh * 2;
	}
	
	&__strong {
		display: block;

		font-size: $fz_2_logo__strong;
		line-height: $base-lh * 2;
		text-transform: uppercase;

		@media ( min-width: 400px ) {
			font-size: $fz_1_logo__strong;
			line-height: $base-lh * 3;
		}

		@media ( min-width: 990px ) {
			font-size: $fz_logo__strong;
			line-height: $base-lh * 5;
		}
	}

	&__small {
		display: block;

		padding-left: 2px;

		font-size: $fz_2_logo__small;
		line-height: $base-lh * 1;	

		@media ( min-width: 400px ) {
			font-size: $fz_1_logo__small;
			line-height: $base-lh * 2;
		}

		@media ( min-width: 990px ) {
			font-size: $fz_logo__small;
			line-height: $base-lh * 3;
		}	
	}
}

/* news-feed */
.news-feed {
	float: left;

	display: none;
	padding-left: 150px;

	font-family: $ff_text;
	font-size: $fz_news-feed;
	line-height: $base-lh * 2 - 2px;
	color: $c_news-feed;

	@media ( min-width: 768px ) {
		display: block;
	}	

	@media ( min-width: 990px ) {
		padding-left: 235px;
	}	
}

/* shopping-cart */
.shopping-cart {
	position: relative;

	float: right;

	font-family: $ff_text;
	font-size: $fz_shopping-cart;
	line-height: $base-lh * 2 - 2px;

	&__label {
		float: left;

		color: $c_shopping-cart__label;
	}

	&__amount {
		float: left;

		margin: 0 4px;
		
		font-size: $fz_shopping-cart__amount;
		color: $c_shopping-cart__amount;
	}

	&__currency {
		float: left;

		margin-left: 4px;
		margin-right: 2px;

		font-size: $fz_shopping-cart__currency;
		color: $c_shopping-cart__currency;
	}

	&__price {
		float: left;

		font-size: $fz_shopping-cart__price;
		color: $c_shopping-cart__price;
	}

	&__toggle {
		float: right;

		width: 24px;
		border: $bo_shopping-cart__taggle;
		border-radius: 4px;
		margin-top: 5px; 
		margin-left: 10px;

		font-size: $fz_shopping-cart__taggle;
		line-height: $base-lh + 4px;
		color: $c_shopping-cart__taggle;
		text-shadow: $tsh_shopping-cart__taggle;

		background: $bg_shopping-cart__taggle;

		&:hover { background: $bg_hv_shopping-cart__taggle; }

		&:active .shopping-cart__icon-closed, 
		&:active .shopping-cart__icon-opened {
			transform: translateY(1px);
			text-shadow: none;
		}

		&--open .shopping-cart__icon-closed {
			display: none;
		}

		&--open .shopping-cart__icon-opened {
			display: inline-block;
		}
	}

	&__icon-opened {
		display: none;
	}

	&__basket {
		position: absolute;
		top: ($base-lh * 2) - 1;
		right: 0;
		z-index: $z_shopping-cart__basket;

		display: none;

		width: 300px;
		border-radius: 0 0 6px 6px;

		font-family: $ff_caption_1;
		font-size: $fz_shopping-cart__basket;
		line-height: $base-lh * 2;
		color: $c_shopping-cart__basket;
		text-align: center;

		background-color: $bgc_shopping-cart__basket;
	}
}