/**********************
*        BLOCKS       *
***********************/

/* header */
.header {
	width: 100%;

	&__nav{		
	}

	&__news {
		position: relative;
		z-index: 6;
	}

	&__wrap {
		@extend %wrapper;
		position: relative;
	}
}

/* social-nav */
.social-nav {
	float: right;

	padding-top: $base-line-height;
	padding-bottom: $base-line-height;

	&__item {
		float: left;
		width: $base-line-height * 2;

		font-size: 16px;
		line-height: $base-line-height * 2;

		margin-right: 9px;	

		&--form {
			width: 200px;

			margin-right: 0;
			margin-top: 3px;
		}
	}

	&__link {
		display: block;
	}
}

/* search-form */
.search-form {
	@extend %clearfix;

	&__input {
		float: left;
		width: 165px;

		line-height: $base-line-height * 2 - 6px;

		padding-left: 15px;
		padding-right: 15px;
	}

	&__submit {
		float: left;
		width: 35px;

		line-height: $base-line-height * 2 - 6px;
	}
}

/* main nav */
.main-nav {
	@extend %clearfix;
	float: left;
	width: 100%;

	padding-left: 21%;

	&__item {
		float: left;

		font-size: 13px;
		line-height: $base-line-height * 2;
	}

	&__link {
		display: block;

		padding-left: 20px;
		padding-right: 20px;
	}
}

/* logo */
.logo {
	display: block;
	width: 180px;
	
	position: absolute;
	top: 0;
	left: 25px;
	z-index: 7;

	padding-top: $base-line-height - 2px;
	padding-right: $base-line-height;
	padding-bottom: $base-line-height - 2px;
	padding-left: $base-line-height * 2;

	&::before {
		content: "";
		display: block;
		width: 12px;
		height: 14px;

		position: absolute;
		bottom: 0;
		right: -12px;
	}

	&::after {
		content: "";
		display: block;
		width: 10px;
		height: 8px;

		position: absolute;
		bottom: 6px;
		right: -10px;
	}

	&__strong {
		display: block;

		font-size: 80px;
		line-height: $base-line-height * 5;
	}

	&__small {
		display: block;

		font-size: 40px;
		line-height: $base-line-height * 3;

		padding-left: 2px;
	}
}

/* news-feed */
.news-feed {
	font-size: 12px;
	line-height: $base-line-height * 2;
	
	padding-left: 21%;
}