// 
// base
//

$base-lh: $base-line-height;

// 
// font-family
//

$ff_caption_1: "CodaRegular", "Arial", sans-serif;
$ff_caption_2: "CodaHeavy", "Arial", sans-serif;
$ff_text: "Arial", sans-serif;
$ff_logo: "ImpactRegular", "Arial", sans-serif;

//
// font-size 
//

// header
$fz_header__mobile-toggle: 22px;
// social-nav
$fz_social-nav__item: 16px;
// search-form
$fz_search-form__input: 12px;
$fz_search-form__submit: 14px;
// main-nav
$fz_main-nav__item: 13px;
// logo
$fz_logo__strong: 80px;
	$fz_1_logo__strong: 60px;
		$fz_2_logo__strong: 40px;
$fz_logo__small: 40px;
	$fz_1_logo__small: 30px;
		$fz_2_logo__small: 20px;
// news-feed
$fz_news-feed: 12px;
// shopping-cart
$fz_shopping-cart: 12px;
$fz_shopping-cart__amount: 14px;
$fz_shopping-cart__currency: 14px;
$fz_shopping-cart__price: 14px;
$fz_shopping-cart__taggle: 20px;
$fz_shopping-cart__basket: 14px;
// top-slider
$fz_top-slider__header: 36px;
$fz_top-slider__text: 13px;
$fz_top-slider__btn: 18px;
$fz_top-slider__controls: 50px;
// featured
$fz_featured__header: 20px;
$fz_featured__item-name: 13px;
$fz_featured__current-price: 14px;
$fz_featured__old-price: 14px;
// btn-cart
$fz_btn-cart: 20px;
// new-products
$fz_new-products__header: 20px;
$fz_new-products__item-name: 13px;
$fz_new-products__current-price: 14px;
$fz_new-products__old-price: 14px;

// 
// z-index 
//

$z_header__news: 6;
$z_header__mobile-menu: 11;
$z_header__mobile-toggle: 12;
$z_logo: 7;
$z_shopping-cart__basket: 9;
$z_top-slider__img: 8;
$z_top-slider__controls: 10;
$z_new-products__img: 8;

// 
// theming 
//

// header
$bg_header__nav: #404040 url('../img/bg_overlay.png');
$bgc_header__news: #252525;
$bo_header__news: 1px solid #161616;
$bgc_header__mobile-menu: rgba(#000, .9);
$c_header__mobile-toggle: #d1d1d1;
$c_hv_header__mobile-toggle: #fff;
$bgc_header__mobile-toggle: #363636;
// social-nav
$c_social-nav: #fff;
$bg_social-nav__item: #363636 url('../img/bg_overlay.png');
$bgc_hv_social-nav__item: darken(#363636, 1%);
$bsh_social-nav__item: 2px 2px 2px -1px rgba(#111, .26) inset, 1px 1px 2px 0 rgba(#fff, .07);
// main-nav
$c_main-nav: #c9c9c9;
$bg_main-nav: #363636 url('../img/bg_overlay.png');
$bo_main-nav: 1px solid #252525;
$bsh_main-nav__item: -1px 1px 0 0 #404040 inset;
	$bsh_1_main-nav__item: 0 -1px 0 0 #404040 inset;
$bg_hv_main-nav__item: darken(#363636, 1%) url('../img/bg_overlay.png');
// logo
$c_logo: #fff;
$bg_logo: linear-gradient(top, #fe1f1f 0%, #fe1f1f 80%, #000 160%);
$bg_before_logo: linear-gradient(top, #fe1f1f 0%, #000 315%);
$bgc_after_logo: #4d0000;
// news-feed
$c_news-feed: #9a9a9a;
// shopping-cart
$c_shopping-cart__label: #9a9a9a;
$c_shopping-cart__amount: #fff;
$c_shopping-cart__currency: #fff;
$c_shopping-cart__price: #fff;
$c_shopping-cart__taggle: #fff;
$bg_shopping-cart__taggle: linear-gradient(top, #fe1f1f 0%, #b20101 100%);
$bg_hv_shopping-cart__taggle: linear-gradient(top, #fe1f1f 0%, darken(#b20101, 6%) 100%);
$bo_shopping-cart__taggle: 1px solid #fe1f1f;
$tsh_shopping-cart__taggle: 0 1px 0 #000;
$bgc_shopping-cart__basket: #252525;
$c_shopping-cart__basket: #fff;
// main
$bg_main: url('../img/left_shadow_line.png') -7% 0% no-repeat, 
		  url('../img/right_shadow_line.png') 107% 0% no-repeat;
$bgc_main: #eaebef;
// top-slider
$c_top-slider__header: #252525;
$c_top-slider__text: #4b4b4b;
$bg_top-slider__btn: linear-gradient(to top, #f71818 0%, #fe1f1f 100%);
$bg_hv_top-slider__btn: linear-gradient(to top, darken(#f71818, 10%) 0%, darken(#fe1f1f, 10%) 100%);
$bo_top-slider__btn: 1px solid #c20101;
$bsh_top-slider__btn: 0.6px 0.8px 1px rgba(255, 255, 255, 0.22) inset;
$c_top-slider__btn: #fff;
$tsh_top-slider__btn-text: 0.6px 0.8px 1px rgba(0, 0, 0, 0.5);
$bo_top-slider__controls: 5px solid rgba(255, 255, 255, 1);
$c_top-slider__controls: #fff;
$bg_top-slider__controls: linear-gradient(to top, #a6a7aa 0%, #e2e2e2 100%);
$bg_hv_top-slider__controls: linear-gradient(to top, darken(#a6a7aa, 3%) 0%, darken(#e2e2e2, 3%) 100%);
// featured
$c_featured__header: #fff;
$tsh_featured__header: 0.6px 0.8px 1px rgba(0, 0, 0, 0.5);
$bg_featured__header: linear-gradient(to top, #f71818 0%, #c60202 100%);
$bgc_featured__content: #fafafa;
$c_featured__item-name: #3e3e3e;
$c_featured__current-price: #a90b0b;
$c_featured__old-price: #9c9c9c;
// btn-cart
$c_btn-cart: #fff;
$bo_btn-cart: 1px solid #c20101;
$bg_btn-cart: linear-gradient(to top, #f71818 0%, #fe1f1f 100%);
$bg_hv_btn-cart: linear-gradient(to top, darken(#f71818, 10%) 0%, darken(#fe1f1f, 10%) 100%);
$bsh_btn-cart: 0.6px 0.8px 1px rgba(255, 255, 255, 0.22) inset;
// new-products
$bgc_new-products: #f3f3f3;
$c_new-products__header: #272727;
$bob_new-products__header: 1px solid #e5e5e5;
$bgc_new-products__header: #fafafa;
$bgc_new-products__img-box: #fafafa;
$bo_new-products__img-box: 1px solid #e5e5e5;
$c_new-products__item-name: #3e3e3e;
$c_new-products__current-price: #a90b0b;
$c_new-products__old-price: #9c9c9c;

