// 
// base
//

$base-lh: $base-line-height;

// 
// font-family
//

$ff_caption_1: "CodaRegular", "Arial", sans-serif;
$ff_caption_2: "CodaHeavy", "Arial", sans-serif;
$ff_text: "Arial", sans-serif;
$ff_logo: "ImpactRegular", "Arial", sans-serif;

//
// font-size 
//

// header
$fz_header__mobile-toggle: 22px;
// social-nav
$fz_social-nav__item: 16px;
// search-form
$fz_search-form__input: 12px;
$fz_search-form__submit: 14px;
// main-nav
$fz_main-nav__item: 13px;
// logo
$fz_logo__strong: 80px;
	$fz_1_logo__strong: 60px;
		$fz_2_logo__strong: 40px;
$fz_logo__small: 40px;
	$fz_1_logo__small: 30px;
		$fz_2_logo__small: 20px;
// news-feed
$fz_news-feed: 12px;
// shopping-cart
$fz_shopping-cart: 12px;
$fz_shopping-cart__amount: 14px;
$fz_shopping-cart__currency: 14px;
$fz_shopping-cart__price: 14px;
$fz_shopping-cart__taggle: 20px;
// shopping-basket
$fz_shopping-basket: 12px;
$fz_shopping-basket__delete: 12px;
$fz_hv_shopping-basket__delete: 14px;
// top-slider
$fz_top-slider__header: 36px;
$fz_top-slider__text: 13px;
$fz_top-slider__btn: 18px;
$fz_top-slider__controls: 50px;
// featured
$fz_featured__header: 20px;
$fz_featured__item-name: 13px;
$fz_featured__current-price: 14px;
$fz_featured__old-price: 14px;
// btn-cart
$fz_btn-cart__icon: 20px;
$fz_btn-cart__text: 12px;
// new-products
$fz_new-products__header: 20px;
$fz_new-products__item-name: 13px;
$fz_new-products__current-price: 14px;
$fz_new-products__old-price: 14px;
$fz_new-products__handle: 12px;
// sale-badge
$fz_sale-badge: 16px;
//trending
$fz_trending__header: 20px;
$fz_trending__nav-item: 20px;
$fz_trending__item-name: 20px;
$fz_trending__item-text: 12px;
// brand-slider
$fz_brand-slider__controls: 42px;
$fz_hover_brand-slider__controls: 44px;
// about
$fz_about__header: 24px;
$fz_about__text: 12px;
$fz_about__icons: 15px;
// categories
$fz_categories__header: 24px;
$fz_categories__item: 12px;
// tweets
$fz_tweets__header: 24px;
$fz_tweets__twitter-link: 25px;
$fz_tweets__info: 12px;
// footer
$fz_footer__bottom-line: 12px;


// 
// z-index 
//

$z_header__news: 6;
$z_header__mobile-menu: 11;
$z_header__mobile-toggle: 12;
$z_logo: 7;
$z_shopping-basket: 9;
$z_top-slider__img: 8;
$z_top-slider__controls: 10;
$z_new-products__img-box: 5;
$z_new-products__img: 8;
$z_new-products__handle: 2;
$z_sale-badge: 9;
$z_trending__menu: 0;
$z_before_trending__nav-item--active: -1;

// 
// theming 
//

// header
$bg_header__nav: #404040 url('../img/bg_overlay.png');
$bgc_header__news: #252525;
$bo_header__news: 1px solid #161616;
$bgc_header__mobile-menu: rgba(#000, .9);
$c_header__mobile-toggle: #d1d1d1;
$c_hv_header__mobile-toggle: #fff;
$bgc_header__mobile-toggle: #363636;
// social-nav
$c_social-nav: #fff;
$bg_social-nav__item: #363636 url('../img/bg_overlay.png');
$bgc_hv_social-nav__item: darken(#363636, 1%);
$bsh_social-nav__item: 2px 2px 2px -1px rgba(#111, .26) inset, 1px 1px 2px 0 rgba(#fff, .07);
// main-nav
$c_main-nav: #c9c9c9;
$bg_main-nav: #363636 url('../img/bg_overlay.png');
$bo_main-nav: 1px solid #252525;
$bsh_main-nav__item: -1px 1px 0 0 #404040 inset;
	$bsh_1_main-nav__item: 0 -1px 0 0 #404040 inset;
$bg_hv_main-nav__item: darken(#363636, 1%) url('../img/bg_overlay.png');
// logo
$c_logo: #fff;
$bg_logo: linear-gradient(top, #fe1f1f 0%, #fe1f1f 80%, #000 160%);
$bg_before_logo: linear-gradient(top, #fe1f1f 0%, #000 315%);
$bgc_after_logo: #4d0000;
// news-feed
$c_news-feed: #9a9a9a;
// shopping-cart
$c_shopping-cart__label: #9a9a9a;
$c_shopping-cart__amount: #fff;
$c_shopping-cart__currency: #fff;
$c_shopping-cart__price: #fff;
$c_shopping-cart__taggle: #fff;
$bg_shopping-cart__taggle: linear-gradient(top, #fe1f1f 0%, #b20101 100%);
$bg_hv_shopping-cart__taggle: linear-gradient(top, #fe1f1f 0%, darken(#b20101, 6%) 100%);
$bo_shopping-cart__taggle: 1px solid #fe1f1f;
$tsh_shopping-cart__taggle: 0 1px 0 #000;
// shoppipng-basket
$bgc_shopping-basket__img-box: #fafafa;
$bo_shopping-basket__item: 1px solid #363636;
$bgc_shopping-basket: #252525;
$c_shopping-basket: #fff;
$c_shopping-basket__delete: #f71818;
$bgc_hv_shopping-basket__delete-btn: #363636;
// main
$bg_main: url('../img/left_shadow_line.png') -7% 0% no-repeat, 
		  url('../img/right_shadow_line.png') 107% 0% no-repeat;
$bgc_main: #eaebef;
// top-slider
$c_top-slider__header: #252525;
$c_top-slider__text: #4b4b4b;
$bg_top-slider__btn: linear-gradient(to top, #f71818 0%, #fe1f1f 100%);
$bg_hv_top-slider__btn: linear-gradient(to top, darken(#f71818, 10%) 0%, darken(#fe1f1f, 10%) 100%);
$bo_top-slider__btn: 1px solid #c20101;
$bsh_top-slider__btn: 0.6px 0.8px 1px rgba(255, 255, 255, 0.22) inset;
$c_top-slider__btn: #fff;
$tsh_top-slider__btn-text: 0.6px 0.8px 1px rgba(0, 0, 0, 0.5);
$bo_top-slider__controls: 5px solid rgba(255, 255, 255, 1);
$c_top-slider__controls: #fff;
$bg_top-slider__controls: linear-gradient(to top, #a6a7aa 0%, #e2e2e2 100%);
$bg_hv_top-slider__controls: linear-gradient(to top, darken(#a6a7aa, 3%) 0%, darken(#e2e2e2, 3%) 100%);
// featured
$bsh_featured: 95px -92px 26px -109px #000;
$c_featured__header: #fff;
$tsh_featured__header: 0.6px 0.8px 1px rgba(0, 0, 0, 0.5);
$bg_featured__header: linear-gradient(to top, #f71818 0%, #c60202 100%);
$bgc_featured__content: #fafafa;
$c_featured__item-name: #3e3e3e;
$c_featured__current-price: #a90b0b;
$c_featured__old-price: #9c9c9c;
// btn-cart
$c_btn-cart__icon: #fff;
$c_btn-cart__text: #000;
$bo_btn-cart__icon: 1px solid #c20101;
$bo_btn-cart__text: 1px solid #cecece;
$bg_btn-cart__icon: linear-gradient(to top, #f71818 0%, #fe1f1f 100%);
$bg_btn-cart__text: linear-gradient(to top, #e1e1e1 0%, #fbfbfb 100%);
$bg_hv_btn-cart__icon: linear-gradient(to top, darken(#f71818, 10%) 0%, darken(#fe1f1f, 10%) 100%);
$bg_hv_btn-cart__text: linear-gradient(to top, darken(#e1e1e1, 6%) 0%, darken(#fbfbfb, 6%) 100%);
$bsh_btn-cart__icon: 0.6px 0.8px 1px rgba(255, 255, 255, 0.22) inset;
$bg_btn-cart--added__icon: linear-gradient(to top, #44aa1c 0%, #5fbf38 100%);
$bo_btn-cart--added__icon: 1px solid #5fbf38;
// new-products
$bgc_new-products: #f3f3f3;
$c_new-products__header: #272727;
$bob_new-products__header: 1px solid #e5e5e5;
$bgc_new-products__header: #fafafa;
$bo_new-products__content: 24px solid #f3f3f3;
$bgc_new-products__img-box: #fafafa;
$bo_new-products__img-box: 1px solid #e5e5e5;
$c_new-products__item-name: #3e3e3e;
$c_new-products__current-price: #a90b0b;
$c_new-products__old-price: #9c9c9c;
$bo_new-products__scrollbar: 1px solid #dadfe6;
$bgc_new-products__scrollbar: #fff;
$bgc_new-products__handle: #fe1f1f;
$c_new-products__handle: #fff;
// sale-badge
$c_sale-badge: #fff;
$bgc_before_sale-badge: rgba(white, .4);
$bob_sale-badge: 30px solid #f21717;
$bol_sale-badge: 30px solid transparent;
$bot_sale-badge__back: 5px solid #a42929;
$bor_sale-badge__back: 5px solid transparent;
// trending
$boi_trending: linear-gradient(to top, #fff 0%, #d2d2d2 100%) 99.9%;
$bgc_trending: #f9f9f9;
$c_trending__header: #fff;
$bgc_trending__header: #2d2d2d;
$c_trending__nav-item: #2b2b2b;
$tsh_trending__nav-item: 0.6px 0.8px 0 rgba(255, 255, 255, 0.75);
$c_trending__nav-item--active: #fff;
$bg_trending__nav-item--active: linear-gradient(to right, #b20101 0%, #fe1f1f 8%, #fe1f1f 100%);
$bg_before_trending__nav-item--active: #4d0000;
$bol_after_trending__nav-item--active: 17px solid #fe1f1f;
$bot_after_trending__nav-item--active: 27px solid transparent;
$bsh_before_trending__nav-item--active: -2px 5px 0px 7px #b20101 inset;
$bg_trending__item: linear-gradient(34deg, rgba(67, 67, 67, 0.07) 0%, rgba(105, 105, 105, 0.07) 30%, rgba(114, 114, 114, 0.07) 57%, rgba(153, 153, 153, 0.07) 100%);
$bsh_trending__item: 1.9px -2.3px 8px rgba(174, 174, 174, 0.28) inset;
$c_trending__item-name: #272727;
$c_trending__item-text: #646464;
// footer
$bg_footer: url('../img/bottom_shadow_line.png') 104% 100% no-repeat, url('../img/footer_texture.jpg') repeat;
$bgc_footer: white;
$bg_footer__brand-slider-wrap: linear-gradient(to top, #f9f9f9 0%, #f3f2f2 88%, #dcdbdc 100%);
$bgc_footer__bottom-line: #0d0d0d;
$c_footer__bottom-line: #6d6d6d;
// brand-slider
$c_brand-slider__controls: #b6b6b6;
$tsh_brand-slider__controls: 0px 0px 2px #000;
// about
$c_about__header: #c6c6c6;
$c_about__text: #9b9b9b;
$c_about__icons: #f71818;
// categories
$c_categories__header: #c6c6c6;
$c_categories__item: #9b9b9b;
$bob_categories__item: 1px dotted #9b9b9b;
// tweets
$c_tweets__header: #c6c6c6;
$bgc_tweets__twitter-link: rgba(12, 14, 18, 0.24);
$bgc_hv_tweets__twitter-link: darken(rgba(12, 14, 18, 0.24), 10%);
$bsh_tweets__twitter-link: 0.6px 0.8px 0 rgba(255, 255, 255, 0.07), 1.3px 1.5px 3px rgba(0, 0, 0, 0.26) inset;
$c_tweets__twitter-link: #c6c6c6;
$c_tweets__info: #9b9b9b;