// fonts
$f_caption_1: "CodaRegular", "Arial", sans-serif;
$f_caption_2: "CodaHeavy", "Arial", sans-serif;
$f_text: "Arial", sans-serif;
$f_logo: "ImpactRegular", "Arial", sans-serif;

// Type scale 1.333

$ts_1: $base-font-size * 0.422;
$ts_2: $base-font-size * 0.563;
$ts_3: $base-font-size * 0.75;
$ts_4: $base-font-size;
$ts_5: $base-font-size * 1.333;
$ts_6: $base-font-size * 1.777;
$ts_7: $base-font-size * 2.369;
$ts_8: $base-font-size * 3.157;