/* breadcrumbs */
.breadcrumbs {
	@extend %clearfix;

	width: 100%;
	border-bottom: 1px solid #d8d8d8;
	border-radius: 6px 6px 0 0;
	padding: 0 20px;

	font-family: $ff_caption_1;
	font-size: 16px;

	background: linear-gradient(to top, #e2e2e2 0%, #fbfbfb 15%, #fbfbfb 100%);

	&__item {
		float: left;
	}

	&__link {
		padding: 0 15px;

		line-height: $base-lh * 3 - 1px;
		color: #464545;

		&:hover {
			text-decoration: underline;
		}

		&.breadcrumbs__link--active {
			color: #f71818;
		}
	}

	&__icon {
		float: left;

		line-height: $base-lh * 3 - 1px;
		color: #f71818;
	}

	&__icon-home {
		float: left;

		font-size: 28px;
		line-height: $base-lh * 3 - 1px;
		color: rgba(137, 138, 140, 0.35);
	}
}