// breadcrumbs 
ul.breadcrumbs
	li.breadcrumbs__item
		i.fa.fa-home.breadcrumbs__icon-home
		a.breadcrumbs__link( href="index.html" ) Products
	li.breadcrumbs__item
		i.fa.fa-angle-double-right.breadcrumbs__icon
		a.breadcrumbs__link.breadcrumbs__link--active( href="#" ) Lorem Ipsum