/* trending-item */
.trending-item {
	position: relative;

	float: left;

	width: 100%;
	height: $base-lh * 13;

	background: $bg_trending__item;
	box-shadow: $bsh_trending__item;

	@media ( min-width: 400px ) {
		height: $base-lh * 15;
	}

	@media ( min-width: 1100px ) {
		width: 50%;
	}

	&__img-box {
		position: relative;

		float: left;

		width: 45%;
		height: $base-lh * 13;

		@media ( min-width: 400px ) {
			width: 57%;
			height: $base-lh * 15;
		}
	}

	&__img {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;

		display: block;
		
		width: auto;
		max-height: 160px;
		margin: auto;

		@media ( min-width: 400px ) {
			max-height: 265px;
		}
	}

	&__info {
		float: left;

		width: 55%;
		padding: $base-lh * 2 24px $base-lh * 2 0;

		@media ( min-width: 400px ) {
			width: 43%;
			padding: $base-lh * 3 24px $base-lh * 3 0;
		}
	}

	&__item-name {
		font-family: $ff_caption_1;
		font-size: $fz_trending__item-name;
		line-height: $base-lh * 2;
		color: $c_trending__item-name;
	}

	&__item-text {
		margin-bottom: $base-lh;

		font-family: $ff_text;
		font-size: $fz_trending__item-text;
		line-height: $base-lh;
		color: $c_trending__item-text;
	}

	&__current-price {
		float: left;

		margin-right: 16px;

		font-family: $ff_text;
		font-size: $fz_featured__current-price;
		color: $c_featured__current-price;
	}

	&__old-price {
		float: left;

		font-family: $ff_text;
		font-size: $fz_featured__old-price;
		color: $c_featured__old-price;
		text-decoration: line-through;
	}
}

