// categories 
article.categories
	h2.categories__header Categories
	ul.categories__item-box
		li.categories__item
			a.categories__item-link( href="#" ) New collection
		li.categories__item
			a.categories__item-link( href="#" ) New collection 
		li.categories__item
			a.categories__item-link( href="#" ) New collection
		li.categories__item
			a.categories__item-link( href="#" ) Bestsellers
		li.categories__item
			a.categories__item-link( href="#" ) Bestsellers
		li.categories__item
			a.categories__item-link( href="#" ) Bestsellers
		li.categories__item
			a.categories__item-link( href="#" ) Manufactures
		li.categories__item
			a.categories__item-link( href="#" ) Manufactures
		li.categories__item
			a.categories__item-link( href="#" ) Manufactures 
		li.categories__item
			a.categories__item-link( href="#" ) Supliers
		li.categories__item
			a.categories__item-link( href="#" ) Supliers
		li.categories__item
			a.categories__item-link( href="#" ) Supliers
		li.categories__item
			a.categories__item-link( href="#" ) New products
		li.categories__item
			a.categories__item-link( href="#" ) New products
		li.categories__item
			a.categories__item-link( href="#" ) New products