// main 
extends ../main.jade

block mainClasses
	- var mainClasses = ['main', 'main--product'];
	
block elements
	include ../../breadcrumbs/breadcrumbs.jade
	include ../../product/product.jade
	include ../../product-desc/product-desc.jade
	include ../../related/related.jade