// product-panel
ul.product-panel
	li.product-panel__item.product-panel__item--sale
		.product-panel__img-box
			a.product-panel__link( href="product.html" )
				img.product-panel__img( src="img/new_item_1.png" alt="new_item_1" )
		.product-panel__info
			.product-panel__about
				h3.product-panel__item-name 
					a.product-panel__link( href="product.html" ) Lorem ipsum dolor sit
				.product-panel__current-price
					include ../currency/currency.jade
					span.product-panel__current-value 34.99
				.product-panel__old-price
					include ../currency/currency.jade
					span.product-panel__old-value 69.99
			include ../btn-cart/btn-cart.jade
	li.product-panel__item
		.product-panel__img-box
			a.product-panel__link( href="product.html" )
				img.product-panel__img( src="img/new_item_2.png" alt="new_item_2" )
		.product-panel__info
			.product-panel__about
				h3.product-panel__item-name 
					a.product-panel__link( href="product.html" ) Lorem ipsum dolor sit
				.product-panel__current-price
					include ../currency/currency.jade
					span.product-panel__current-value 34.99
				.product-panel__old-price
					include ../currency/currency.jade
					span.product-panel__old-value 69.99
			include ../btn-cart/btn-cart.jade
	li.product-panel__item
		.product-panel__img-box
			a.product-panel__link( href="product.html" )
				img.product-panel__img( src="img/new_item_3.png" alt="new_item_3" )
		.product-panel__info
			.product-panel__about
				h3.product-panel__item-name 
					a.product-panel__link( href="product.html" ) Lorem ipsum dolor sit
				.product-panel__current-price
					include ../currency/currency.jade
					span.product-panel__current-value 34.99
				.product-panel__old-price
					include ../currency/currency.jade
					span.product-panel__old-value 69.99
			include ../btn-cart/btn-cart.jade
	li.product-panel__item
		.product-panel__img-box
			a.product-panel__link( href="product.html" )
				img.product-panel__img( src="img/new_item_1.png" alt="new_item_1" )
		.product-panel__info
			.product-panel__about
				h3.product-panel__item-name 
					a.product-panel__link( href="product.html" ) Lorem ipsum dolor sit
				.product-panel__current-price
					include ../currency/currency.jade
					span.product-panel__current-value 34.99
				.product-panel__old-price
					include ../currency/currency.jade
					span.product-panel__old-value 69.99
			include ../btn-cart/btn-cart.jade
	li.product-panel__item
		.product-panel__img-box
			a.product-panel__link( href="product.html" )
				img.product-panel__img( src="img/new_item_2.png" alt="new_item_2" )
		.product-panel__info
			.product-panel__about
				h3.product-panel__item-name
					a.product-panel__link( href="product.html" ) Lorem ipsum dolor sit
				.product-panel__current-price
					include ../currency/currency.jade
					span.product-panel__current-value 34.99
				.product-panel__old-price
					include ../currency/currency.jade
					span.product-panel__old-value 69.99
			include ../btn-cart/btn-cart.jade
	li.product-panel__item
		.product-panel__img-box
			a.product-panel__link( href="product.html" )
				img.product-panel__img( src="img/new_item_3.png" alt="new_item_3" )
		.product-panel__info
			.product-panel__about
				h3.product-panel__item-name 
					a.product-panel__link( href="product.html" ) Lorem ipsum dolor sit
				.product-panel__current-price
					include ../currency/currency.jade
					span.product-panel__current-value 34.99
				.product-panel__old-price
					include ../currency/currency.jade
					span.product-panel__old-value 69.99
			include ../btn-cart/btn-cart.jade