// social-nav 
ul.social-nav
	li.social-nav__item
		a.social-nav__link( href="#" )
			i.fa.fa-twitter
	li.social-nav__item
		a.social-nav__link( href="#" )
			i.fa.fa-facebook
	li.social-nav__item
		a.social-nav__link( href="#" )
			i.fa.fa-dribbble
	li.social-nav__item
		a.social-nav__link( href="#" )
			i.fa.fa-lastfm
	li.social-nav__item
		a.social-nav__link( href="#" )
			i.fa.fa-linkedin
	li.social-nav__item
		a.social-nav__link( href="#" )
			i.fa.fa-tumblr
	li.social-nav__item.social-nav__item--form
		include ../search-form/search-form.jade