// trending
article.trending
	.trending__menu
		h2.trending__header Trending now
		ul.trending__nav
			li.trending__nav-item.trending__nav-item--active( data-filter="man" ) Man
			li.trending__nav-item( data-filter="women" ) Women
			li.trending__nav-item( data-filter="kids" ) Kids
			li.trending__nav-item( data-filter="accessories" ) Accessories
	ul.trending__item-box
		li.trending__item.trending__item--sale( data-filter="women" )
			.trending__img-box
				a.trending__link( href="product.html" )
					img.trending__img( src="img/man_1.png" )
			.trending__info
				h3.trending__item-name 
					a.trending__link( href="product.html" ) Shop t-shirt
				p.trending__item-text Lorem ipsum dolor sit amet, consectetur.
				.trending__current-price
					span.currency.trending__currency
					span.price.trending__current-value 34.99
				.trending__old-price
					span.currency.trending__currency
					span.price.trending__old-value 69.99
				include ../btn-cart/--trending/btn-cart--trending.jade
		li.trending__item.trending__item--sale( data-filter="women accessories" )
			.trending__img-box
				a.trending__link( href="product.html" )
					img.trending__img( src="img/man_1.png" )
			.trending__info
				h3.trending__item-name 
					a.trending__link( href="product.html" ) Shop t-shirt
				p.trending__item-text Lorem ipsum dolor sit amet, consectetur.
				.trending__current-price
					span.currency.trending__currency
					span.price.trending__current-value 34.99
				.trending__old-price
					span.currency.trending__currency
					span.price.trending__old-value 69.99
				include ../btn-cart/--trending/btn-cart--trending.jade
		li.trending__item.trending__item--sale( data-filter="women" )
			.trending__img-box
				a.trending__link( href="product.html" )
					img.trending__img( src="img/man_1.png" )
			.trending__info
				h3.trending__item-name 
					a.trending__link( href="product.html" ) Shop t-shirt
				p.trending__item-text Lorem ipsum dolor sit amet, consectetur.
				.trending__current-price
					span.currency.trending__currency
					span.price.trending__current-value 34.99
				.trending__old-price
					span.currency.trending__currency
					span.price.trending__old-value 69.99
				include ../btn-cart/--trending/btn-cart--trending.jade
		li.trending__item( data-filter="man accessories" )
			.trending__img-box
				a.trending__link( href="product.html" )
					img.trending__img( src="img/man_2.png" )
			.trending__info
				h3.trending__item-name 
					a.trending__link( href="product.html" ) Sneaker
				p.trending__item-text Lorem ipsum dolor sit amet, consectetur.
				.trending__current-price
					span.currency.trending__currency
					span.price.trending__current-value 34.99
				.trending__old-price
					span.currency.trending__currency
					span.price.trending__old-value 69.99
				include ../btn-cart/--trending/btn-cart--trending.jade
		li.trending__item( data-filter="man accessories" )
			.trending__img-box
				a.trending__link( href="product.html" )
					img.trending__img( src="img/man_2.png" )
			.trending__info
				h3.trending__item-name 
					a.trending__link( href="product.html" ) Sneaker
				p.trending__item-text Lorem ipsum dolor sit amet, consectetur.
				.trending__current-price
					span.currency.trending__currency
					span.price.trending__current-value 34.99
				.trending__old-price
					span.currency.trending__currency
					span.price.trending__old-value 69.99
				include ../btn-cart/--trending/btn-cart--trending.jade
		li.trending__item( data-filter="man" )
			.trending__img-box
				a.trending__link( href="product.html" )
					img.trending__img( src="img/man_2.png" )
			.trending__info
				h3.trending__item-name 
					a.trending__link( href="product.html" ) Sneaker
				p.trending__item-text Lorem ipsum dolor sit amet, consectetur.
				.trending__current-price
					span.currency.trending__currency
					span.price.trending__current-value 34.99
				.trending__old-price
					span.currency.trending__currency
					span.price.trending__old-value 69.99
				include ../btn-cart/--trending/btn-cart--trending.jade
		li.trending__item( data-filter="man" )
			.trending__img-box
				a.trending__link( href="product.html" )
					img.trending__img( src="img/man_2.png" )
			.trending__info
				h3.trending__item-name 
					a.trending__link( href="product.html" ) Sneaker
				p.trending__item-text Lorem ipsum dolor sit amet, consectetur.
				.trending__current-price
					span.currency.trending__currency
					span.price.trending__current-value 34.99
				.trending__old-price
					span.currency.trending__currency
					span.price.trending__old-value 69.99
				include ../btn-cart/--trending/btn-cart--trending.jade
		li.trending__item( data-filter="kids accessories" )
			.trending__img-box
				a.trending__link( href="product.html" )
					img.trending__img( src="img/man_3.png" )
			.trending__info
				h3.trending__item-name 
					a.trending__link( href="product.html" ) Backpack
				p.trending__item-text Lorem ipsum dolor sit amet, consectetur.
				.trending__current-price
					span.currency.trending__currency
					span.price.trending__current-value 34.99
				.trending__old-price
					span.currency.trending__currency
					span.price.trending__old-value 69.99
				include ../btn-cart/--trending/btn-cart--trending.jade
		li.trending__item( data-filter="kids accessories" )
			.trending__img-box
				a.trending__link( href="product.html" )
					img.trending__img( src="img/man_4.png" )
			.trending__info
				h3.trending__item-name 
					a.trending__link( href="product.html" ) Heritage
				p.trending__item-text Lorem ipsum dolor sit amet, consectetur.
				.trending__current-price
					span.currency.trending__currency
					span.price.trending__current-value 34.99
				.trending__old-price
					span.currency.trending__currency
					span.price.trending__old-value 69.99
				include ../btn-cart/--trending/btn-cart--trending.jade
		li.trending__item( data-filter="kids" )
			.trending__img-box
				a.trending__link( href="product.html" )
					img.trending__img( src="img/man_3.png" )
			.trending__info
				h3.trending__item-name 
					a.trending__link( href="product.html" ) Backpack
				p.trending__item-text Lorem ipsum dolor sit amet, consectetur.
				.trending__current-price
					span.currency.trending__currency
					span.price.trending__current-value 34.99
				.trending__old-price
					span.currency.trending__currency
					span.price.trending__old-value 69.99
				include ../btn-cart/--trending/btn-cart--trending.jade
		li.trending__item( data-filter="kids accessories" )
			.trending__img-box
				a.trending__link( href="product.html" )
					img.trending__img( src="img/man_4.png" )
			.trending__info
				h3.trending__item-name 
					a.trending__link( href="product.html" ) Heritage
				p.trending__item-text Lorem ipsum dolor sit amet, consectetur.
				.trending__current-price
					span.currency.trending__currency
					span.price.trending__current-value 34.99
				.trending__old-price
					span.currency.trending__currency
					span.price.trending__old-value 69.99
				include ../btn-cart/--trending/btn-cart--trending.jade