// trending

//- mixins
include ../trending-item/trending-item.jade

article.trending
	.trending__menu
		h2.trending__header Trending now
		ul.trending__nav
			li.trending__nav-item.trending__nav-item--active( data-filter="man" ) Man
			li.trending__nav-item( data-filter="women" ) Women
			li.trending__nav-item( data-filter="kids" ) Kids
			li.trending__nav-item( data-filter="accessories" ) Accessories
	ul.trending__item-box
		+trending-item({ 
			filter: 'women',
			href: 'product.html',
			img: 'img/man_1.png',
			name: 'Shop t-shirt',
			text: 'Lorem ipsum dolor sit amet, consectetur.',
			newPrice: 34.99,
			oldPrice: 69.99
		})
		+trending-item({ 
			filter: 'women accessories',
			href: 'product.html',
			img: 'img/man_1.png',
			name: 'Shop t-shirt',
			text: 'Lorem ipsum dolor sit amet, consectetur.',
			newPrice: 34.99,
			oldPrice: 69.99
		})
		+trending-item({ 
			filter: 'women',
			href: 'product.html',
			img: 'img/man_1.png',
			name: 'Shop t-shirt',
			text: 'Lorem ipsum dolor sit amet, consectetur.',
			newPrice: 34.99,
			oldPrice: 69.99
		})
		+trending-item({ 
			filter: 'man accessories',
			href: 'product.html',
			img: 'img/man_2.png',
			name: 'Sneaker',
			text: 'Lorem ipsum dolor sit amet, consectetur.',
			newPrice: 34.99,
			oldPrice: 69.99
		})
		+trending-item({ 
			filter: 'man accessories',
			href: 'product.html',
			img: 'img/man_2.png',
			name: 'Sneaker',
			text: 'Lorem ipsum dolor sit amet, consectetur.',
			newPrice: 34.99,
			oldPrice: 69.99
		})
		+trending-item({ 
			filter: 'man',
			href: 'product.html',
			img: 'img/man_2.png',
			name: 'Sneaker',
			text: 'Lorem ipsum dolor sit amet, consectetur.',
			newPrice: 34.99,
			oldPrice: 69.99
		})
		+trending-item({ 
			filter: 'man',
			href: 'product.html',
			img: 'img/man_2.png',
			name: 'Sneaker',
			text: 'Lorem ipsum dolor sit amet, consectetur.',
			newPrice: 34.99,
			oldPrice: 69.99
		})
		+trending-item({ 
			filter: 'kids accessories',
			href: 'product.html',
			img: 'img/man_3.png',
			name: 'Backpack',
			text: 'Lorem ipsum dolor sit amet, consectetur.',
			newPrice: 34.99,
			oldPrice: 69.99
		})
		+trending-item({ 
			filter: 'kids accessories',
			href: 'product.html',
			img: 'img/man_4.png',
			name: 'Heritage',
			text: 'Lorem ipsum dolor sit amet, consectetur.',
			newPrice: 34.99,
			oldPrice: 69.99
		})
		+trending-item({ 
			filter: 'kids',
			href: 'product.html',
			img: 'img/man_3.png',
			name: 'Backpack',
			text: 'Lorem ipsum dolor sit amet, consectetur.',
			newPrice: 34.99,
			oldPrice: 69.99
		})
		+trending-item({ 
			filter: 'kids accessories',
			href: 'product.html',
			img: 'img/man_4.png',
			name: 'Heritage',
			text: 'Lorem ipsum dolor sit amet, consectetur.',
			newPrice: 34.99,
			oldPrice: 69.99
		})