.top-slider__img-box
	img.top-slider__img( src="#{imgSrc}" alt="#{imgAlt}" )
.top-slider__info-box
	h1.top-slider__header #{header}
	p.top-slider__text #{text}
	a.top-slider__btn( href="product.html" )
		span.top-slider__btn-text Shop now
		i.fa.fa-arrow-right.top-slider__btn-arrow