// main 
block mainClasses
	- var mainClasses = ['main'];
section( class=mainClasses )
	.main__wrap
		block elements
			.main__top-slider-wrap
				include ../top-slider/top-slider.jade
			include ../featured/featured.jade
			include ../new-products/new-products.jade
			include ../trending/trending.jade
		
