/* footer */
.footer {
	background: $bg_1_footer;

	@media ( min-width: 1150px ) {
		background: $bg_footer;
	}

	&__wrap {
		@extend %wrapper;
	}

	&__brand-slider-wrap {
		overflow: hidden;
		@extend %clearfix;

		border-radius: 0 0 6px 6px;
		margin-bottom: $base-lh;
		margin-left: -15px;
		margin-right: -15px;

		background: $bg_footer__brand-slider-wrap;

		@media ( min-width: 740px ) {
			margin-left: 0;
			margin-right: 0;
		}
	}

	&__bottom-line {
		@extend %clearfix;

		padding: $base-lh 0;

		background-color: $bgc_footer__bottom-line;

		font-family: $ff_text;
		font-size: $fz_footer__bottom-line;
		line-height: $base-lh;
		color: $c_footer__bottom-line;
	}

	&__copy {
		text-align: center;

		@media ( min-width: 640px ) {
			float: left;
		}
	}

	&__nav {

		@media ( min-width: 640px ) {
			float: right;
		}
	}

	&__nav-item {
		margin-top: $base-lh;

		text-align: center;

		@media ( min-width: 640px ) {
			float: left;

			margin: 0 10px;
		}
	}

	&__nav-link {
		&:hover { text-decoration: underline; }
	}
}