/* tabs */
.tabs {

	/***** line *****/

	display: block;

	border-bottom: 4px solid #f71818;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	padding: 0 30px;

	font-size: 0;
	line-height: 0;
	text-align: left;

	background: linear-gradient(to top, #141414 0%, #252525 100%);

	/***** group *****/

	&__item {
		display: inline-block;
		vertical-align: middle;

		&.tabs__item--active {
			position: relative;

			margin-top: -10px;

			&::before {
				position: absolute;
				top: 0;
				left: -12px;
				z-index: -1;

				display: block;
				content: "";
				
				width: 20px;
				height: 20px;
				border-radius: 100%;

				background-color: #4d0000;
				box-shadow: -3px 2px 0 3px #bc2424 inset;
			}

			&::after {
				position: absolute;
				top: 0;
				right: -12px;
				z-index: -1;

				display: block;
				content: "";
				
				width: 20px;
				height: 20px;
				border-radius: 100%;

				background-color: #4d0000;
				box-shadow: 3px 2px 0 3px #bc2424 inset;
			}
		}
	}

	/***** content *****/

	&__item-btn {
		display: inline-block;
		vertical-align: middle;

		padding: 0 30px;

		font-family: $ff_caption_1;
		font-weight: bold;
		font-size: 16px;
		line-height: $base-lh * 3 - 4;
		color: #fff;
		text-transform: capitalize;	

		.tabs__item.tabs__item--active & {
			line-height: $base-lh * 3 - 4 + 10;

			background: linear-gradient(180deg, #b20101 0%, #fe1f1f 42%, #fe1f1f 100%);
		}
	}
}