// tabs 
ul.tabs
	li.tabs__item( data-entity="tab" )
		button.tabs__item-btn( type="button" ) Description
	li.tabs__item( data-entity="tab" )
		button.tabs__item-btn( type="button" ) Additional information
	li.tabs__item( data-entity="tab" )
		button.tabs__item-btn( type="button" ) Reviews 
			span.tabs__reviews (0)