// tabs 
ul.tabs
	li.tabs__item.tabs__item--active
		button.tabs__item-btn( type="button" data-index="1" ) Description
	li.tabs__item
		button.tabs__item-btn( type="button" data-index="2" ) Additional information
	li.tabs__item
		button.tabs__item-btn( type="button" data-index="3" ) Reviews 
			span.tabs__reviews (0)