// tweets 
article.tweets
	h2.tweets__header Latest tweets
	ul.tweets__item-box
		li.tweets__item
			a.tweets__twitter-link( href="http://twitter.com/" )
				i.fa.fa-twitter.tweets__twitter-icon
			.tweets__info 
				p.tweets__text Check out this great #themeforest item for you  
				p.tweets__author 'Simpler Landing' 
					a.tweets__link( href="http://twitter.com/" ) http://t.co/LbLwldb6
				p.tweets__date 2 hours ago
		li.tweets__item
			a.tweets__twitter-link( href="#" )
				i.fa.fa-twitter.tweets__twitter-icon
			.tweets__info 
				p.tweets__text Check out this great #themeforest item for you  
				p.tweets__author 'Simpler Landing' 
					a.tweets__link( href="http://twitter.com/" ) http://t.co/LbLwldb6
				p.tweets__date 2 hours ago
		li.tweets__item
			a.tweets__twitter-link( href="http://twitter.com/" )
				i.fa.fa-twitter.tweets__twitter-icon
			.tweets__info 
				p.tweets__text Check out this great #themeforest item for you  
				p.tweets__author 'Simpler Landing' 
					a.tweets__link( href="#" ) http://t.co/LbLwldb6
				p.tweets__date 2 hours ago