// footer 
section.footer
	.footer__wrap
		.footer__brand-slider-wrap
			// brand-slider 
			button.brand-slider__btn-prev( type="button" )
				i.fa.fa-angle-left.brand-slider__icon-prev
			article.brand-slider.owl-carousel
				.brand-slider__item
					img.brand-slider__img( src="img/brand_1.png" alt="brand_item" )
				.brand-slider__item
					img.brand-slider__img( src="img/brand_2.png" alt="brand_item" )
				.brand-slider__item
					img.brand-slider__img( src="img/brand_3.png" alt="brand_item" )
				.brand-slider__item
					img.brand-slider__img( src="img/brand_1.png" alt="brand_item" )
				.brand-slider__item
					img.brand-slider__img( src="img/brand_2.png" alt="brand_item" )
				.brand-slider__item
					img.brand-slider__img( src="img/brand_3.png" alt="brand_item" )
				.brand-slider__item
					img.brand-slider__img( src="img/brand_1.png" alt="brand_item" )
				.brand-slider__item
					img.brand-slider__img( src="img/brand_2.png" alt="brand_item" )
				.brand-slider__item
					img.brand-slider__img( src="img/brand_3.png" alt="brand_item" )
				.brand-slider__item
					img.brand-slider__img( src="img/brand_1.png" alt="brand_item" )
				.brand-slider__item
					img.brand-slider__img( src="img/brand_2.png" alt="brand_item" )
				.brand-slider__item
					img.brand-slider__img( src="img/brand_3.png" alt="brand_item" )
			button.brand-slider__btn-next( type="button" )
				i.fa.fa-angle-right.brand-slider__icon-next
		// about 
		article.about
			h2.about__header Who we are
			p.about__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error laudantium commodi assumenda quae, expedita optio aliquam, eveniet dolores fugit iusto, quidem voluptatum delectus quis explicabo aliquid quasi ea eum placeat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius architecto odit aliquam est
			ul.about__info
				li.about__item
					i.fa.fa-flag.about__address-icon
					a.about__address( href="#" ) Address 123, Country
				li.about__item
					i.fa.fa-mobile.about__phone-icon
					a.about__phone( href="#" ) (043) 875-9211
				li.about__item
					i.fa.fa-envelope.about__mail-icon
					a.about__mail( href="#" ) info@kopasoft.com
		// categories 
		article.categories
			h2.categories__header Categories
			ul.categories__item-box
				li.categories__item
					a.categories__item-link( href="#" ) New collection
				li.categories__item
					a.categories__item-link( href="#" ) New collection 
				li.categories__item
					a.categories__item-link( href="#" ) New collection
				li.categories__item
					a.categories__item-link( href="#" ) Bestsellers
				li.categories__item
					a.categories__item-link( href="#" ) Bestsellers
				li.categories__item
					a.categories__item-link( href="#" ) Bestsellers
				li.categories__item
					a.categories__item-link( href="#" ) Manufactures
				li.categories__item
					a.categories__item-link( href="#" ) Manufactures
				li.categories__item
					a.categories__item-link( href="#" ) Manufactures 
				li.categories__item
					a.categories__item-link( href="#" ) Supliers
				li.categories__item
					a.categories__item-link( href="#" ) Supliers
				li.categories__item
					a.categories__item-link( href="#" ) Supliers
				li.categories__item
					a.categories__item-link( href="#" ) New products
				li.categories__item
					a.categories__item-link( href="#" ) New products
				li.categories__item
					a.categories__item-link( href="#" ) New products
		// tweets 
		article.tweets
			h2.tweets__header Latest tweets
			ul.tweets__item-box
				li.tweets__item
					a.tweets__twitter-link( href="http://twitter.com/" )
						i.fa.fa-twitter.tweets__twitter-icon
					.tweets__info 
						p.tweets__text Check out this great #themeforest item for you  
						p.tweets__author 'Simpler Landing' 
							a.tweets__link( href="http://twitter.com/" ) http://t.co/LbLwldb6
						p.tweets__date 2 hours ago
				li.tweets__item
					a.tweets__twitter-link( href="#" )
						i.fa.fa-twitter.tweets__twitter-icon
					.tweets__info 
						p.tweets__text Check out this great #themeforest item for you  
						p.tweets__author 'Simpler Landing' 
							a.tweets__link( href="http://twitter.com/" ) http://t.co/LbLwldb6
						p.tweets__date 2 hours ago
				li.tweets__item
					a.tweets__twitter-link( href="http://twitter.com/" )
						i.fa.fa-twitter.tweets__twitter-icon
					.tweets__info 
						p.tweets__text Check out this great #themeforest item for you  
						p.tweets__author 'Simpler Landing' 
							a.tweets__link( href="#" ) http://t.co/LbLwldb6
						p.tweets__date 2 hours ago
		.footer__bottom-line
script( src='js/libs.js' )
script( src='libs/jqueryUI/jquery-ui.min.js' )
script( src='libs/owl-carousel/owl.carousel.min.js' )
script( src='js/js.js' )