// footer 
section.footer
	.footer__wrap
		.footer__brand-slider-wrap
			// brand-slider 
			button.brand-slider__btn-prev( type="button" )
				i.fa.fa-angle-left.brand-slider__icon-prev
			article.brand-slider.owl-carousel
				.brand-slider__item
					img.brand-slider__img( src="img/brand_1.png" alt="brand_item" )
				.brand-slider__item
					img.brand-slider__img( src="img/brand_2.png" alt="brand_item" )
				.brand-slider__item
					img.brand-slider__img( src="img/brand_3.png" alt="brand_item" )
				.brand-slider__item
					img.brand-slider__img( src="img/brand_1.png" alt="brand_item" )
				.brand-slider__item
					img.brand-slider__img( src="img/brand_2.png" alt="brand_item" )
				.brand-slider__item
					img.brand-slider__img( src="img/brand_3.png" alt="brand_item" )
				.brand-slider__item
					img.brand-slider__img( src="img/brand_1.png" alt="brand_item" )
				.brand-slider__item
					img.brand-slider__img( src="img/brand_2.png" alt="brand_item" )
				.brand-slider__item
					img.brand-slider__img( src="img/brand_3.png" alt="brand_item" )
				.brand-slider__item
					img.brand-slider__img( src="img/brand_1.png" alt="brand_item" )
				.brand-slider__item
					img.brand-slider__img( src="img/brand_2.png" alt="brand_item" )
				.brand-slider__item
					img.brand-slider__img( src="img/brand_3.png" alt="brand_item" )
			button.brand-slider__btn-next( type="button" )
				i.fa.fa-angle-right.brand-slider__icon-next
script( src='js/libs.js' )
script( src='libs/jqueryUI/jquery-ui.min.js' )
script( src='libs/owl-carousel/owl.carousel.min.js' )
script( src='js/js.js' )