// header 
header#header
	.header--nav
		.wrapper
			ul.social-nav
				li.social-nav--item
					i.fa.fa-twitter
				li.social-nav--item
				li.social-nav--item
				li.social-nav--item
				li.social-nav--item
				li.social-nav--item
				li.social-nav--item
			ul.main-nav
	.header--news