// header 
header.header
	.header__nav
		.header__wrap
			ul.social-nav
				li.social-nav__item
					a.social-nav__link( href="#" )
						i.fa.fa-twitter
				li.social-nav__item
					a.social-nav__link( href="#" )
						i.fa.fa-facebook
				li.social-nav__item
					a.social-nav__link( href="#" )
						i.fa.fa-dribbble
				li.social-nav__item
					a.social-nav__link( href="#" )
						i.fa.fa-lastfm
				li.social-nav__item
					a.social-nav__link( href="#" )
						i.fa.fa-linkedin
				li.social-nav__item
					a.social-nav__link( href="#" )
						i.fa.fa-tumblr
				li.social-nav__item.social-nav__item--form
					form.search-form
						input.search-form__input( type='text' placeholder="Search" )
						button.search-form__submit
							i.fa.fa-search
			ul.main-nav
				li.main-nav__item
					a.main-nav__link( href="#" ) Entertainment
				li.main-nav__item
					a.main-nav__link( href="#" ) Lifestyle
				li.main-nav__item
					a.main-nav__link( href="#" ) Technology
				li.main-nav__item
					a.main-nav__link( href="#" ) Entertainment
				li.main-nav__item
					a.main-nav__link( href="#" ) Lifestyle
				li.main-nav__item.main-nav__item--last
					a.main-nav__link( href="#" ) Sports
			a.logo( href="#" )
				strong.logo__strong Big
				small.logo__small Store
	.header__news
		.header__wrap
			.news-feed
				span.news-feed__date August .12 .2012 - 
				span.news-feed__content Syrian prime minister defects, fighting goes on
			.shopping-cart
				.shopping-cart__label Shopping Cart:
				.shopping-cart__amount 0
				.shopping-cart__label item(s) - 
				.shopping-cart__currency $
				.shopping-cart__price 0.00
				button.shopping-cart__toggle( type="button" )
					i.fa.fa-caret-down.shopping-cart__toggle-icon