head
	meta( charset='UTF-8' )
	meta( http-equiv='X-UA-Compatible' content='IE=edge' )
	meta( name='viewport' content='width=device-width, initial-scale=1' )
	title Template
	link( rel='stylesheet' href='libs/jqueryUI/jquery-ui.min.css' )
	link( rel='stylesheet' href='libs/owl-carousel/owl.carousel.css' )
	link( rel='stylesheet' href='libs/font-awesome.min.css' )
	link( rel='stylesheet' href='css/style.css' )