// main 
section.main
	.main__wrap
		.main__top-slider-wrap
			// top-slider 
			article.top-slider.owl-carousel
				.top-slider__item
					.top-slider__img-box
						img.top-slider__img( src="img/slider_item.png" alt="slider_item" )
					.top-slider__info-box
						h1.top-slider__header Where can I get some
						p.top-slider__text Fusce ultrices ornare velit, consectetur tempus eros dapibus et. Integer lobortis, dui in iaculis sollicitudin, felis nunc aliquam nibh, eu porta nisi urna nec odio. Duis suscipit viverra magna id sagittis. Quisque odio neque, condimentum cursus volutpat vel, pharetra ac nibh. Cras cursus libero id nunc facilisis luctus. Aenean ultricies, risus cursus sollicitudin congue, diam diam congue velit, ut sodales sem enim a nisl. Aenean elit diam, mollis fermentum
						a.top-slider__btn( href="#" ) 
							span.top-slider__btn-text Shop now
							i.fa.fa-arrow-right.top-slider__btn-arrow
				.top-slider__item
					.top-slider__img-box
						img.top-slider__img( src="img/slider_item.png" alt="slider_item" )
					.top-slider__info-box
						h1.top-slider__header Where can I get some
						p.top-slider__text Fusce ultrices ornare velit, consectetur tempus eros dapibus et. Integer lobortis, dui in iaculis sollicitudin, felis nunc aliquam nibh, eu porta nisi urna nec odio. Duis suscipit viverra magna id sagittis. Quisque odio neque, condimentum cursus volutpat vel, pharetra ac nibh. Cras cursus libero id nunc facilisis luctus. Aenean ultricies, risus cursus sollicitudin congue, diam diam congue velit, ut sodales sem enim a nisl. Aenean elit diam, mollis fermentum
						a.top-slider__btn( href="#" ) 
							span.top-slider__btn-text Shop now
							i.fa.fa-arrow-right.top-slider__btn-arrow
				.top-slider__item
					.top-slider__img-box
						img.top-slider__img( src="img/slider_item.png" alt="slider_item" )
					.top-slider__info-box
						h1.top-slider__header Where can I get some
						p.top-slider__text Fusce ultrices ornare velit, consectetur tempus eros dapibus et. Integer lobortis, dui in iaculis sollicitudin, felis nunc aliquam nibh, eu porta nisi urna nec odio. Duis suscipit viverra magna id sagittis. Quisque odio neque, condimentum cursus volutpat vel, pharetra ac nibh. Cras cursus libero id nunc facilisis luctus. Aenean ultricies, risus cursus sollicitudin congue, diam diam congue velit, ut sodales sem enim a nisl. Aenean elit diam, mollis fermentum
						a.top-slider__btn( href="#" ) 
							span.top-slider__btn-text Shop now
							i.fa.fa-arrow-right.top-slider__btn-arrow
				.top-slider__item
					.top-slider__img-box
						img.top-slider__img( src="img/slider_item.png" alt="slider_item" )
					.top-slider__info-box
						h1.top-slider__header Where can I get some
						p.top-slider__text Fusce ultrices ornare velit, consectetur tempus eros dapibus et. Integer lobortis, dui in iaculis sollicitudin, felis nunc aliquam nibh, eu porta nisi urna nec odio. Duis suscipit viverra magna id sagittis. Quisque odio neque, condimentum cursus volutpat vel, pharetra ac nibh. Cras cursus libero id nunc facilisis luctus. Aenean ultricies, risus cursus sollicitudin congue, diam diam congue velit, ut sodales sem enim a nisl. Aenean elit diam, mollis fermentum
						a.top-slider__btn( href="#" ) 
							span.top-slider__btn-text Shop now
							i.fa.fa-arrow-right.top-slider__btn-arrow
			button.top-slider__btn-prev( type="button" )
				i.fa.fa-angle-left.top-slider__icon-prev
			button.top-slider__btn-next( type="button" )
				i.fa.fa-angle-right.top-slider__icon-next
		// featured 
		article.featured
			h2.featured__header
				span.featured__header-text Featured
				button.featured__btn-next( type="button" )
					i.fa.fa-chevron-right.featured__header-icon
				button.featured__btn-prev( type="button" )
					i.fa.fa-chevron-left.featured__header-icon
			ul.featured__content.owl-carousel
				li.featured__item
					a.featured__link( href="#" )
						img.featured__img( src="img/featured_item.jpg" alt="featured_item" )
					.featured__info
						.featured__about
							h3.featured__item-name 
								a.featured__link( href="#" ) Herbal Sport
							.featured__current-price
								span.featured__current-currency $
								span.featured__current-value 101.88
							.featured__old-price
								span.featured__old-currency $
								span.featured__old-value 69.99
						// btn-cart
						button.btn-cart( type="button" )
							i.fa.fa-shopping-cart.btn-cart__icon
						.featured__justify-helper
				li.featured__item
					a.featured__link( href="#" )
						img.featured__img( src="img/featured_item.jpg" alt="featured_item" )
					.featured__info
						.featured__about
							h3.featured__item-name 
								a.featured__link( href="#" ) Herbal Sport
							.featured__current-price
								span.featured__current-currency $
								span.featured__current-value 101.88
							.featured__old-price
								span.featured__old-currency $
								span.featured__old-value 69.99
						// btn-cart
						button.btn-cart( type="button" )
							i.fa.fa-shopping-cart.btn-cart__icon
						.featured__justify-helper
				li.featured__item
					a.featured__link( href="#" )
						img.featured__img( src="img/featured_item.jpg" alt="featured_item" )
					.featured__info
						.featured__about
							h3.featured__item-name 
								a.featured__link( href="#" ) Herbal Sport
							.featured__current-price
								span.featured__current-currency $
								span.featured__current-value 101.88
							.featured__old-price
								span.featured__old-currency $
								span.featured__old-value 69.99
						// btn-cart
						button.btn-cart( type="button" )
							i.fa.fa-shopping-cart.btn-cart__icon
						.featured__justify-helper
		// new-products 
		article.new-products
			h2.new-products__header New products
			.new-products__content
				ul.new-products__item-box
					li.new-products__item.new-products__item--sale
						.new-products__img-box
							a.new-products__link( href="#" )
								img.new-products__img( src="img/new_item_1.png" alt="new_item_1" )
						.new-products__info
							.new-products__about
								h3.new-products__item-name 
									a.new-products__link( href="#" ) Lorem ipsum dolor sit
								.new-products__current-price
									span.new-products__current-currency $
									span.new-products__current-value 34.99
								.new-products__old-price
									span.new-products__old-currency $
									span.new-products__old-value 69.99
							// btn-cart
							button.btn-cart( type="button" )
								i.fa.fa-shopping-cart.btn-cart__icon
					li.new-products__item
						.new-products__img-box
							a.new-products__link( href="#" )
								img.new-products__img( src="img/new_item_2.png" alt="new_item_2" )
						.new-products__info
							.new-products__about
								h3.new-products__item-name 
									a.new-products__link( href="#" ) Lorem ipsum dolor sit
								.new-products__current-price
									span.new-products__current-currency $
									span.new-products__current-value 34.99
								.new-products__old-price
									span.new-products__old-currency $
									span.new-products__old-value 69.99
							// btn-cart
							button.btn-cart( type="button" )
								i.fa.fa-shopping-cart.btn-cart__icon
					li.new-products__item
						.new-products__img-box
							a.new-products__link( href="#" )
								img.new-products__img( src="img/new_item_3.png" alt="new_item_3" )
						.new-products__info
							.new-products__about
								h3.new-products__item-name 
									a.new-products__link( href="#" ) Lorem ipsum dolor sit
								.new-products__current-price
									span.new-products__current-currency $
									span.new-products__current-value 34.99
								.new-products__old-price
									span.new-products__old-currency $
									span.new-products__old-value 69.99
							// btn-cart
							button.btn-cart( type="button" )
								i.fa.fa-shopping-cart.btn-cart__icon
					li.new-products__item
						.new-products__img-box
							a.new-products__link( href="#" )
								img.new-products__img( src="img/new_item_1.png" alt="new_item_1" )
						.new-products__info
							.new-products__about
								h3.new-products__item-name 
									a.new-products__link( href="#" ) Lorem ipsum dolor sit
								.new-products__current-price
									span.new-products__current-currency $
									span.new-products__current-value 34.99
								.new-products__old-price
									span.new-products__old-currency $
									span.new-products__old-value 69.99
							// btn-cart
							button.btn-cart( type="button" )
								i.fa.fa-shopping-cart.btn-cart__icon
					li.new-products__item
						.new-products__img-box
							a.new-products__link( href="#" )
								img.new-products__img( src="img/new_item_2.png" alt="new_item_2" )
						.new-products__info
							.new-products__about
								h3.new-products__item-name
									a.new-products__link( href="#" ) Lorem ipsum dolor sit
								.new-products__current-price
									span.new-products__current-currency $
									span.new-products__current-value 34.99
								.new-products__old-price
									span.new-products__old-currency $
									span.new-products__old-value 69.99
							// btn-cart
							button.btn-cart( type="button" )
								i.fa.fa-shopping-cart.btn-cart__icon
					li.new-products__item
						.new-products__img-box
							a.new-products__link( href="#" )
								img.new-products__img( src="img/new_item_3.png" alt="new_item_3" )
						.new-products__info
							.new-products__about
								h3.new-products__item-name 
									a.new-products__link( href="#" ) Lorem ipsum dolor sit
								.new-products__current-price
									span.new-products__current-currency $
									span.new-products__current-value 34.99
								.new-products__old-price
									span.new-products__old-currency $
									span.new-products__old-value 69.99
							// btn-cart
							button.btn-cart( type="button" )
								i.fa.fa-shopping-cart.btn-cart__icon
			.new-products__scroll-box
				.new-products__scrollbar-wrap
					.new-products__scrollbar
		// trending
		article.trending
			.trending__menu
				h2.trending__header Trending now
				ul.trending__nav
					li.trending__nav-item.trending__nav-item--active( data-filter="man" ) Man
					li.trending__nav-item( data-filter="women" ) Women
					li.trending__nav-item( data-filter="kids" ) Kids
					li.trending__nav-item( data-filter="accessories" ) Accessories
			ul.trending__item-box
				li.trending__item.trending__item--sale( data-filter="women" )
					.trending__img-box
						a.trending__link( href="#" )
							img.trending__img( src="img/man_1.png" )
					.trending__info
						h3.trending__item-name 
							a.trending__link( href="#" ) Shop t-shirt
						p.trending__item-text Lorem ipsum dolor sit amet, consectetur.
						.trending__current-price
							span.trending__current-currency $
							span.trending__current-value 34.99
						.trending__old-price
							span.trending__old-currency $
							span.trending__old-value 69.99
						// btn-cart 
						button.btn-cart.btn-cart--trending( type="button" )
							i.fa.fa-shopping-cart.btn-cart__icon
							span.btn-cart__text Add to cart
				li.trending__item.trending__item--sale( data-filter="women accessories" )
					.trending__img-box
						a.trending__link( href="#" )
							img.trending__img( src="img/man_1.png" )
					.trending__info
						h3.trending__item-name 
							a.trending__link( href="#" ) Shop t-shirt
						p.trending__item-text Lorem ipsum dolor sit amet, consectetur.
						.trending__current-price
							span.trending__current-currency $
							span.trending__current-value 34.99
						.trending__old-price
							span.trending__old-currency $
							span.trending__old-value 69.99
						// btn-cart 
						button.btn-cart.btn-cart--trending( type="button" )
							i.fa.fa-shopping-cart.btn-cart__icon
							span.btn-cart__text Add to cart
				li.trending__item.trending__item--sale( data-filter="women" )
					.trending__img-box
						a.trending__link( href="#" )
							img.trending__img( src="img/man_1.png" )
					.trending__info
						h3.trending__item-name 
							a.trending__link( href="#" ) Shop t-shirt
						p.trending__item-text Lorem ipsum dolor sit amet, consectetur.
						.trending__current-price
							span.trending__current-currency $
							span.trending__current-value 34.99
						.trending__old-price
							span.trending__old-currency $
							span.trending__old-value 69.99
						// btn-cart 
						button.btn-cart.btn-cart--trending( type="button" )
							i.fa.fa-shopping-cart.btn-cart__icon
							span.btn-cart__text Add to cart
				li.trending__item( data-filter="man accessories" )
					.trending__img-box
						a.trending__link( href="#" )
							img.trending__img( src="img/man_2.png" )
					.trending__info
						h3.trending__item-name 
							a.trending__link( href="#" ) Sneaker
						p.trending__item-text Lorem ipsum dolor sit amet, consectetur.
						.trending__current-price
							span.trending__current-currency $
							span.trending__current-value 34.99
						.trending__old-price
							span.trending__old-currency $
							span.trending__old-value 69.99
						// btn-cart 
						button.btn-cart.btn-cart--trending( type="button" )
							i.fa.fa-shopping-cart.btn-cart__icon
							span.btn-cart__text Add to cart
				li.trending__item( data-filter="man accessories" )
					.trending__img-box
						a.trending__link( href="#" )
							img.trending__img( src="img/man_2.png" )
					.trending__info
						h3.trending__item-name 
							a.trending__link( href="#" ) Sneaker
						p.trending__item-text Lorem ipsum dolor sit amet, consectetur.
						.trending__current-price
							span.trending__current-currency $
							span.trending__current-value 34.99
						.trending__old-price
							span.trending__old-currency $
							span.trending__old-value 69.99
						// btn-cart 
						button.btn-cart.btn-cart--trending( type="button" )
							i.fa.fa-shopping-cart.btn-cart__icon
							span.btn-cart__text Add to cart
				li.trending__item( data-filter="man" )
					.trending__img-box
						a.trending__link( href="#" )
							img.trending__img( src="img/man_2.png" )
					.trending__info
						h3.trending__item-name 
							a.trending__link( href="#" ) Sneaker
						p.trending__item-text Lorem ipsum dolor sit amet, consectetur.
						.trending__current-price
							span.trending__current-currency $
							span.trending__current-value 34.99
						.trending__old-price
							span.trending__old-currency $
							span.trending__old-value 69.99
						// btn-cart 
						button.btn-cart.btn-cart--trending( type="button" )
							i.fa.fa-shopping-cart.btn-cart__icon
							span.btn-cart__text Add to cart
				li.trending__item( data-filter="man" )
					.trending__img-box
						a.trending__link( href="#" )
							img.trending__img( src="img/man_2.png" )
					.trending__info
						h3.trending__item-name 
							a.trending__link( href="#" ) Sneaker
						p.trending__item-text Lorem ipsum dolor sit amet, consectetur.
						.trending__current-price
							span.trending__current-currency $
							span.trending__current-value 34.99
						.trending__old-price
							span.trending__old-currency $
							span.trending__old-value 69.99
						// btn-cart 
						button.btn-cart.btn-cart--trending( type="button" )
							i.fa.fa-shopping-cart.btn-cart__icon
							span.btn-cart__text Add to cart
				li.trending__item( data-filter="kids accessories" )
					.trending__img-box
						a.trending__link( href="#" )
							img.trending__img( src="img/man_3.png" )
					.trending__info
						h3.trending__item-name 
							a.trending__link( href="#" ) Backpack
						p.trending__item-text Lorem ipsum dolor sit amet, consectetur.
						.trending__current-price
							span.trending__current-currency $
							span.trending__current-value 34.99
						.trending__old-price
							span.trending__old-currency $
							span.trending__old-value 69.99
						// btn-cart 
						button.btn-cart.btn-cart--trending( type="button" )
							i.fa.fa-shopping-cart.btn-cart__icon
							span.btn-cart__text Add to cart
				li.trending__item( data-filter="kids accessories" )
					.trending__img-box
						a.trending__link( href="#" )
							img.trending__img( src="img/man_4.png" )
					.trending__info
						h3.trending__item-name 
							a.trending__link( href="#" ) Heritage
						p.trending__item-text Lorem ipsum dolor sit amet, consectetur.
						.trending__current-price
							span.trending__current-currency $
							span.trending__current-value 34.99
						.trending__old-price
							span.trending__old-currency $
							span.trending__old-value 69.99
						// btn-cart 
						button.btn-cart.btn-cart--trending( type="button" )
							i.fa.fa-shopping-cart.btn-cart__icon
							span.btn-cart__text Add to cart
				li.trending__item( data-filter="kids" )
					.trending__img-box
						a.trending__link( href="#" )
							img.trending__img( src="img/man_3.png" )
					.trending__info
						h3.trending__item-name 
							a.trending__link( href="#" ) Backpack
						p.trending__item-text Lorem ipsum dolor sit amet, consectetur.
						.trending__current-price
							span.trending__current-currency $
							span.trending__current-value 34.99
						.trending__old-price
							span.trending__old-currency $
							span.trending__old-value 69.99
						// btn-cart 
						button.btn-cart.btn-cart--trending( type="button" )
							i.fa.fa-shopping-cart.btn-cart__icon
							span.btn-cart__text Add to cart
				li.trending__item( data-filter="kids accessories" )
					.trending__img-box
						a.trending__link( href="#" )
							img.trending__img( src="img/man_4.png" )
					.trending__info
						h3.trending__item-name 
							a.trending__link( href="#" ) Heritage
						p.trending__item-text Lorem ipsum dolor sit amet, consectetur.
						.trending__current-price
							span.trending__current-currency $
							span.trending__current-value 34.99
						.trending__old-price
							span.trending__old-currency $
							span.trending__old-value 69.99
						// btn-cart 
						button.btn-cart.btn-cart--trending( type="button" )
							i.fa.fa-shopping-cart.btn-cart__icon
							span.btn-cart__text Add to cart
