// brand-slider 
.brand-slider__wrap( data-module="brandslider" )
	button.brand-slider__btn-prev( type="button" data-entity="button" data-type="prev" )
		i.fa.fa-angle-left.brand-slider__icon-prev
	article.brand-slider.owl-carousel( data-entity="slider" )
		.brand-slider__item
			a.brand-slider__link( href="#" )
				img.brand-slider__img( src="img/brand_1.png" alt="brand_item" )
		.brand-slider__item
			a.brand-slider__link( href="#" )
				img.brand-slider__img( src="img/brand_2.png" alt="brand_item" )
		.brand-slider__item
			a.brand-slider__link( href="#" )
				img.brand-slider__img( src="img/brand_3.png" alt="brand_item" )
		.brand-slider__item
			a.brand-slider__link( href="#" )
				img.brand-slider__img( src="img/brand_1.png" alt="brand_item" )
		.brand-slider__item
			a.brand-slider__link( href="#" )
				img.brand-slider__img( src="img/brand_2.png" alt="brand_item" )
		.brand-slider__item
			a.brand-slider__link( href="#" )
				img.brand-slider__img( src="img/brand_3.png" alt="brand_item" )
		.brand-slider__item
			a.brand-slider__link( href="#" )
				img.brand-slider__img( src="img/brand_1.png" alt="brand_item" )
		.brand-slider__item
			a.brand-slider__link( href="#" )
				img.brand-slider__img( src="img/brand_2.png" alt="brand_item" )
		.brand-slider__item
			a.brand-slider__link( href="#" )
				img.brand-slider__img( src="img/brand_3.png" alt="brand_item" )
		.brand-slider__item
			a.brand-slider__link( href="#" )
				img.brand-slider__img( src="img/brand_1.png" alt="brand_item" )
		.brand-slider__item
			a.brand-slider__link( href="#" )
				img.brand-slider__img( src="img/brand_2.png" alt="brand_item" )
		.brand-slider__item
			a.brand-slider__link( href="#" )
				img.brand-slider__img( src="img/brand_3.png" alt="brand_item" )
	button.brand-slider__btn-next( type="button" data-entity="button" data-type="next" )
		i.fa.fa-angle-right.brand-slider__icon-next