/* productSection */
.productSection {
	font-size: 0;
	text-align: center;
	
	padding-top: $base-lh * 2;

	background-color: $bgc_main;

	@media ( min-width: 780px ) {
		background: $bg_main;
		background-color: $bgc_main;
	}

	&__wrap {
		@extend %wrapper;
	}
}