/* product-item */
.product-item {

	/***** line *****/

	&__price-line {
		display: block;

		font-size: 0;
		line-height: 0;
		text-align: left;
	}

	&__name-line {
		display: block;

		margin-bottom: $base-lh;

		font-size: 0;
		line-height: 0;
		text-align: left;
	}

	&__info-line {
		display: block;
		overflow: hidden;

		margin-top: $base-lh;

		font-size: 0;
		line-height: 0;
	}

	&__img-line {
		position: relative;
	}

	/***** grouper *****/

	&__currency-grouper {
		display: inline-block;
		vertical-align: middle;

		margin-right: 2px;

		font-size: 0;
		line-height: 0;
	}

	&__price-grouper {
		display: inline-block;
		vertical-align: middle;

		font-size: 0;
		line-height: 0;

		&:first-child {
			margin-right: 20px;
		}
	}

	&__about-grouper {
		float: left;

		font-size: 0;
		line-height: 0;
	}

	&__btn-grouper {
		float: right;

		font-size: 0;
		line-height: $base-lh * 3;
	}

	/***** content *****/

	&__img-link {
		display: inline-block;
		vertical-align: middle;

		width: 100%;
		height: $base-lh * 9;
		border: $bo_new-products__img-box;

		font-size: 0;
		line-height: $base-lh * 9 - 2;
		text-align: center;

		background-color: $bgc_new-products__img-box;
	}

	&__img {
		display: inline-block;
		vertical-align: middle;

		max-width: 100%;
		max-height: 100%;
	}

	&__name {
		display: inline-block;
		vertical-align: middle;

		font-family: $ff_text;
		font-weight: bold;
		font-size: $fz_new-products__item-name;
		line-height: $base-lh;
		color: $c_new-products__item-name;
	}

	&__new-currency, &__new-price {
		display: inline-block;
		vertical-align: middle;

		font-size: $fz_new-products__current-price;
		line-height: $base-lh;
		color: $c_new-products__current-price;
	}

	&__new-price {
		font-family: $ff_text;
	}

	&__old-currency, &__old-price {
		display: inline-block;
		vertical-align: middle;

		font-size: $fz_new-products__old-price;
		line-height: $base-lh;
		color: $c_new-products__old-price;
		text-decoration: line-through;
	}

	&__old-price {
		font-family: $ff_text;
	}
}

// modificators
@import 'productItem--featured';
@import 'productItem--related';