/* btn-cart */
.btn-cart {
	display: inline-block;
	vertical-align: bottom;
	
	&:hover .btn-cart__icon { 
		background: $bg_hv_btn-cart__icon;
		box-shadow: none;
	}

	&:hover .btn-cart__text { 
		background: $bg_hv_btn-cart__text;
	}

	&__icon {
		display: block;

		width: 42px;
		border: $bo_btn-cart__icon;
		border-radius: 6px;

		font-size: $fz_btn-cart__icon;
		line-height: $base-lh * 2 + 4;
		color: $c_btn-cart__icon;

		background: $bg_btn-cart__icon;
		box-shadow: $bsh_btn-cart__icon;
	}
}

// modificators
@import 'btnCart--added';
@import 'btnCart--trending';
@import 'btnCart--tech-form';