/* new-products */
.new-products {
	display: inline-block;
	vertical-align: top;
	overflow: hidden;

	width: 256px + 34px;
	border-top-right-radius: 6px;
	margin-top: $base-lh;

	text-align: left;

	background: $bgc_new-products;

	@media ( min-width: 335px ) {
		width: 256px + 48px;
	}

	@media ( min-width: 615px ) {
		width: 865px - 256px - 24px;
	}

	@media ( min-width: 1150px ) {
		width: 865px;
	}

	&__header {
		border-bottom: $bob_new-products__header;		
		padding-left: 24px;

		font-family: $ff_caption_1;
		font-size: $fz_new-products__header;
		line-height: $base-lh * 3 - 1;
		color: $c_new-products__header;
		text-align: center;
		text-transform: uppercase;

		background-color: $bgc_new-products__header;

		@media ( min-width: 865px ) {
			text-align: left;
		}
	}

	&__content {
		overflow: hidden;

		border-left: $bo_1_new-products__content;
		border-right: $bo_1_new-products__content;
		padding-top: 24px;

		@media ( min-width: 335px ) {
			border-left: $bo_new-products__content;
			border-right: $bo_new-products__content;
		}
	}

	&__product-box {
		display: block;

		font-size: 0;
		line-height: 0;
		text-align: left;
	}

	&__item-wrap {
		display: inline-block;
		vertical-align: middle;

		width: 256px;

		&:not(:last-child) {
			margin-right: 24px;
		}
	}

	&__handle {
		position: absolute;
		top: -4px;

		display: block;

		width: 100px;
		border-radius: 8px;

		font-size: 0;
		line-height: 0;
		text-align: center;

		background-color: #fe1f1f;

		cursor: pointer;
	}

	&__scrollbar {
		position: relative;

		display: block;

		width: 100%;
		height: 12px;
		border: 1px solid #dadfe6;
		border-radius: 6px;
	}

	&__scrollbar-wrap {
		display: block;

		padding-top: $base-lh;
		padding-bottom: $base-lh + 6px;
	}

	/***** content *****/

	&__handle-content {
		display: inline-block;
		vertical-align: middle;

		font-family: $ff_caption_1;
		font-size: 10px;
		line-height: $base-lh;
		color: #fff;

		user-select: none;
	}
}