// shopping-cart 
.shopping-cart
	.shopping-cart__label Shopping Cart:
	.shopping-cart__amount 0
	.shopping-cart__label item(s) - 
	include ../currency/currency--cart.jade
	.shopping-cart__price 0.00
	button.shopping-cart__toggle( type="button" )
		i.fa.fa-caret-down.shopping-cart__icon-closed
		i.fa.fa-caret-up.shopping-cart__icon-opened
	include ../shopping-basket/shopping-basket.jade