// featured 
article.featured
	h2.featured__header
		span.featured__header-text Featured
		button.featured__btn-next( type="button" )
			i.fa.fa-chevron-right.featured__header-icon
		button.featured__btn-prev( type="button" )
			i.fa.fa-chevron-left.featured__header-icon
	ul.featured__content.owl-carousel
		li.featured__item
			a.featured__link( href="product.html" )
				img.featured__img( src="img/featured_item.jpg" alt="featured_item" )
			.featured__info
				.featured__about
					h3.featured__item-name 
						a.featured__link( href="product.html" ) Herbal Sport
					.featured__current-price
						span.currency.featured__currency
						span.price.featured__current-value 101.88
					.featured__old-price
						span.currency.featured__currency
						span.price.featured__old-value 69.99
				include ../btn-cart/btn-cart.jade
		li.featured__item
			a.featured__link( href="product.html" )
				img.featured__img( src="img/featured_item.jpg" alt="featured_item" )
			.featured__info
				.featured__about
					h3.featured__item-name 
						a.featured__link( href="product.html" ) Herbal Sport
					.featured__current-price
						span.currency.featured__currency
						span.price.featured__current-value 101.88
					.featured__old-price
						span.currency.featured__currency
						span.price.price.featured__old-value 69.99
				include ../btn-cart/btn-cart.jade
		li.featured__item
			a.featured__link( href="product.html" )
				img.featured__img( src="img/featured_item.jpg" alt="featured_item" )
			.featured__info
				.featured__about
					h3.featured__item-name 
						a.featured__link( href="product.html" ) Herbal Sport
					.featured__current-price
						span.currency.featured__currency
						span.price.featured__current-value 101.88
					.featured__old-price
						span.currency.featured__currency
						span.price.featured__old-value 69.99
				include ../btn-cart/btn-cart.jade
		li.featured__item
			a.featured__link( href="product.html" )
				img.featured__img( src="img/featured_item.jpg" alt="featured_item" )
			.featured__info
				.featured__about
					h3.featured__item-name 
						a.featured__link( href="product.html" ) Herbal Sport
					.featured__current-price
						span.currency.featured__currency
						span.price.featured__current-value 101.88
					.featured__old-price
						span.currency.featured__currency
						span.price.featured__old-value 69.99
				include ../btn-cart/btn-cart.jade