// featured 
article.featured
	h2.featured__header
		span.featured__header-text Featured
		button.featured__btn-next( type="button" )
			i.fa.fa-chevron-right.featured__header-icon
		button.featured__btn-prev( type="button" )
			i.fa.fa-chevron-left.featured__header-icon
	ul.featured__content.owl-carousel